/* ¶þ¼¶Ò³ÃæÒ³½Å */
.sub-footer{
	background-color:#000000;
	height: 58px;
    line-height: 58px;
    width: 100%;
    min-width: 1200px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.sub-footer a{
	color:#fff;
}
.sub-footer a:hover{
	color:#666;
}