/* ¶þ¼¶Ò³ÃæÒ³½Å */
.black{
	background-color:#000000;
	height: 58px;
    width: 100%;
    min-width: 1200px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.black a{
	color:#fff;
}
.black a:hover{
	color:#666;
}