<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>项目详情</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/uploadifive/uploadifive.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/pi-projectInfoView@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/pi-projectInfoView.css.ver';</php>.css">
<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/erqi/header.html';</php>

	<div class="main clrfix">
		<!-- 左侧导航栏 -->
		<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ProjectInvestor/ProjectInvestor_left.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content <?php if($data['step']['state'] === "projectInfo") echo 'step1';
								elseif($data['step']['state'] === "dueDiligence") echo 'step2';
								?>">
			<div class="step clrfix">
				<span class="s4"><i>3</i>签署正式融资合同</span>
				<span class="s2"><i>2</i>尽职调查</span>
				<span class="s1"><i>1</i>项目信息填写</span>
			</div>

			<a class="btn export" href="?c=ProjectInvestorMyPro&a=export">导出</a>

			<!-- 项目信息 -->
			<div class="content content1">
				<form id="infoForm" class="ground_nonBuild">
					<ul class="detail part1">
						<li class="clrfix">
							<span class="lb">项目名称：</span>
							<span class="lbw">{$data['projectInfo']['project_name']}</span>
						</li>
						<li class="clrfix">
							<span class="lb">项目类型：</span>
							<span class="lbw">{$data['dueDiligence']['projectDetail']['state_type']}</span>
						</li>
						<li class="clrfix">
							<span class="lb">项目地点：</span>
							<span class="lbw">{$data['dueDiligence']['areaArray'][3]}</span>
						</li>
						<li class="clrfix">
							<span class="lb">项目图片：</span>
							<div class="item">
								<div class="img-ct">
									<a target="_blank" href="{$data['projectInfo']['picture_full']['url']}"><img src="{$data['projectInfo']['picture_full']['url']}" style="width:120px;height:120px;" /></a>
									<p>场地情况全景图</p>
								</div>
								<div class="img-ct">
									<a target="_blank" href="{$data['projectInfo']['picture_field']['url']}"><img src="{$data['projectInfo']['picture_field']['url']}" style="width:120px;height:120px;" /></a>
									<p>场平照片</p>
								</div>
								<div class="img-ct">
									<a target="_blank" href="{$data['projectInfo']['picture_transformer']['url']}"><img src="{$data['projectInfo']['picture_transformer']['url']}" style="width:120px;height:120px;" /></a>
									<p>变电站照片</p>
								</div>
								<foreach name="data.projectInfo.picture_mul" item="vo" key="k" >
								<div class="img-ct">
									<div class="preview" style="width:120px;height:120px;">
										<a target="_blank" href="{$vo['url']}">
											<img src="{$vo['url']}" alt="{$vo['name']}" style="width:120px;height:120px;" />
										</a>
									</div>
									<p title="{$vo['name']}">{$vo['name']}</p>
								</div>
								</foreach>
							</div>
						</li>
					</ul>

					<p class="title">联系人信息</p>
					<ul class="detail part2">
						<li>
							<span class="lb">联系人</span>
							<span class="lbw">{$data['projectInfo']['contacts_name']}</span>
						</li>
						<li>
							<span class="lb">联系方式</span>
							<span class="lbw">{$data['projectInfo']['contacts_phone']}</span>
						</li>
						<li>
							<span class="lb">邮件地址</span>
							<span class="lbw">{$data['projectInfo']['contacts_email']}</span>
						</li>
					</ul>
					
					<p class="title">土地情况</p>
					<ul class="detail part2">
						<li>
							<span class="lb">土地性质</span>
							<span class="lbw"><if condition="$data['projectInfo']['ground_property'] eq 0"> {$data['projectInfo']['ground_property_other']}
<else />{$data['projectInfo']['groundProperty']}</if></span>
						</li>
						<li>
							<span class="lb">租赁土地面积</span>
							<span class="lbw">{$data['projectInfo']['ground_area']}m2</span>
						</li>
						<li>
							<span class="lb">租赁年限</span>
							<span class="lbw">{$data['projectInfo']['rent_time']}年</span>
						</li>
						<li>
							<span class="lb">租赁资金</span>
							<span class="lbw">{$data['projectInfo']['rent_pay']}元/年</span>
						</li>
						<li>
							<span class="lb">土地平整情况</span>
							<span class="lbw">{$data['projectInfo']['groundCondition']}</span>
						</li>
					</ul>

					<p class="title">电网接入</p>
					<ul class="detail part2">
						<li>
							<span class="lb">上级变压器容量</span>
							<span class="lbw">{$data['projectInfo']['transformer_capacity']}kVA</span>
						</li>
						<li>
							<span class="lb">并网电压等级</span>
							<span class="lbw">{$data['projectInfo']['voltage_level']}kV</span>
						</li>
						<li>
							<span class="lb">电网接入点距离</span>
							<span class="lbw">{$data['projectInfo']['electricity_distance']}m</span>
						</li>
						<li>
							<span class="lb">计量点</span>
							<span class="lbw">{$data['projectInfo']['measurePoint']}</span>
						</li>
					</ul>

					<p class="title">项目情况</p>
					<ul class="detail part2">
						<li>
							<span class="lb">拟建设容量</span>
							<span class="lbw">{$data['projectInfo']['plan_build_volume']}kW</span>
						</li>
						<li>
							<span class="lb">项目支架类型</span>
							<span class="lbw">{$data['projectInfo']['projectHolderType']}</span>
						</li>
						<li>
							<span class="lb">项目类型</span>
							<span class="lbw">{$data['projectInfo']['groundProjectType']}</span>
						</li>
						<li>
							<span class="lb">与能融网合作方式</span>
							<span class="lbw">{$data['projectInfo']['cooperationType']}</span>
						</li>
						<li>
							<span class="lb">拟融资金额</span>
							<span class="lbw">{$data['projectInfo']['plan_financing']}万元</span>
						</li>
						<li>
							<span class="lb">融资方式</span>
							<span class="lbw">{$data['projectInfo']['financingType']}</span>
						</li>
					</ul>

					<p class="title">项目文件</p>
					<ul class="detail part2">
						<li>
							<span class="lb">项目备案</span>
							<?php if($data['projectInfo']['project_backup']['id']){ ?><span class="fname">{$data['projectInfo']['project_backup']['name']}<a class="download" href="{$data['projectInfo']['project_backup']['url']}">下载</a></span><?php }
								else{ ?><span class="lbw">无</span><?php } ?>
						</li>
						<li>
							<span class="lb">电网接入批复</span>
							<?php if($data['projectInfo']['electricity_backup']['id']){ ?><span class="fname">{$data['projectInfo']['electricity_backup']['name']}<a class="download" href="{$data['projectInfo']['electricity_backup']['url']}">下载</a></span><?php }
								else{ ?><span class="lbw">无</span><?php } ?>
						</li>
						<li>
							<span class="lb">土地租赁协议</span>
							<?php if($data['projectInfo']['ground_rent_agreement']['id']){ ?><span class="fname">{$data['projectInfo']['ground_rent_agreement']['name']}<a class="download" href="{$data['projectInfo']['ground_rent_agreement']['url']}">下载</a></span><?php }
								else{ ?><span class="lbw">无</span><?php } ?>
						</li>
						<li>
							<span class="lb">土地预审意见</span>
							<?php if($data['projectInfo']['ground_opinion']['id']){ ?><span class="fname">{$data['projectInfo']['ground_opinion']['name']}<a class="download" href="{$data['projectInfo']['ground_opinion']['url']}">下载</a></span><?php }
								else{ ?><span class="lbw">无</span><?php } ?>
						</li>
						<li>
							<span class="lb">项目可研报告</span>
							<?php if($data['projectInfo']['project_report']['id']){ ?><span class="fname">{$data['projectInfo']['project_report']['name']}<a class="download" href="{$data['projectInfo']['project_report']['url']}">下载</a></span><?php }
								else{ ?><span class="lbw">无</span><?php } ?>
						</li>
						<li>
							<span class="lb">环评</span>
							<?php if($data['projectInfo']['environment_assessment']['id']){ ?><span class="fname">{$data['projectInfo']['environment_assessment']['name']}<a class="download" href="{$data['projectInfo']['environment_assessment']['url']}">下载</a></span><?php }
								else{ ?><span class="lbw">无</span><?php } ?>
						<li>
					</ul>
				</form>
			</div>

			<!-- 尽职调查 -->
			<?php if($data['step']['state'] === "dueDiligence" && $data['step']['substate'] === "wait") { ?>
			<div class="content content2 wait"><p><img class="icon" src="/EnergyFe/img/dialog/icon.png">能融网会及时安排尽职调查，之后您可在此查看尽调报告。</p></div>
			<?php } elseif(($data['step']['state'] === "dueDiligence" && $data['step']['substate'] === "submited") || $data['step']['state'] === "intent") { ?>
			<form class="content content2 submited dueDiligence">
				<div class="detail part1">
					<p class="title">项目经济收益测算</p>
					<div class="brief-info clrfix">
						<img class="l" src="{$data['dueDiligence']['picture']}" />
						<div class="r">
							<div class="top">
								<span>内部收益率IRR<span class="result">{$data['dueDiligence']['evaluationInfo']['irr']}</span>%</span>
								<span class="last">评价结果<span class="result">{$data['dueDiligence']['evaluationInfo']['evaluation_result']}</span></span>
							</div>
							<div class="middle clrfix">
								<div class="item">
									<img src="/EnergyFe/img/dueDiligence/1.png"/>
									<div><span class="result">{$data['dueDiligence']['evaluationInfo']['static_payback_time']}</span></div>
									<span>静态投资回收年</span>
								</div>
								<div class="item">
									<img src="/EnergyFe/img/dueDiligence/2.png"/>
									<div><span class="result">{$data['dueDiligence']['evaluationInfo']['dynamic_payback_time']}</span></div>
									<span>动态投资回收年</span>
								</div>
								<div class="item">
									<img src="/EnergyFe/img/dueDiligence/3.png"/>
									<div><span class="result">{$data['dueDiligence']['evaluationInfo']['lcoe']}</span></div>
									<span>LCOE</span>
								</div>
							</div>
							<div class="bottom">
								<span>净现值npv<span class="result">{$data['dueDiligence']['evaluationInfo']['npv']}</span>万元</span>
								<span>电站资产累计现值<span class="result">{$data['dueDiligence']['evaluationInfo']['power_asset_current_value']}</span></span>
							</div>
						</div>
						<img class="rec" src="/EnergyFe/img/dueDiligence/4.png" />
					</div>
				</div>
				<div class="detail part2">
					<p class="title">评估报告及项目评级报表</p>
					<table class="main-info">
						<tbody>
							<tr>
								<td>基本信息</td>
								<td>
									<table class="base-info">
										<tbody>
											<tr>
												<td class="c0">项目名称</td>
												<td class="c1">{$data['dueDiligence']['projectDetail']['project_name']}</td>
												<td class="c2">项目类型</td>
												<td class="c3">{$data['dueDiligence']['projectDetail']['groundProjectType']}</td>
											</tr>
											<tr>
												<td class="c0">拟建设容量</td>
												<td class="c1">{$data['dueDiligence']['projectDetail']['plan_build_volume']}<span>kW</span></td>
												<td class="c2">项目地点</td>
												<td class="c3 area">{$data['dueDiligence']['areaArray'][3]}{$data['dueDiligence']['projectDetail']['project_address']}</td>
											</tr>
											<tr>
												<td class="c0">项目完工时间</td>
												<td class="c1">{$data['dueDiligence']['projectDetail']['project_finish_date']}</td>
												<td class="c2">项目电价</td>
												<td class="c3">{$data['dueDiligence']['projectDetail']['project_electricity_price']}<span>元/kWh</span></td>
											</tr>
											<tr>
												<td class="c0">土地性质</td>
												<td class="c1">{$data['dueDiligence']['projectDetail']['groundProperty']}</td>
												<td class="c2">租赁土地面积</td>
												<td class="c3">{$data['dueDiligence']['projectDetail']['ground_area']}<span class="gray">m<sup>2</sup></span>
												</td>
											</tr>
											<tr>
												<td class="c0">拟融资金额</td>
												<td class="c1">{$data['dueDiligence']['projectDetail']['plan_financing']}<span>万元</span></td>
												<td class="c2">融资方式</td>
												<td class="c3">{$data['dueDiligence']['projectDetail']['financingType']}</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td>评价情况</td>
								<td>
									<div class="item">
										<div class="hd">A、文件审查</div>
										<div class="bd"><textarea>{$data['dueDiligence']['evaluationInfo']['document_review']}</textarea></div>
									</div>
									<div class="item">
										<div class="hd">B、工程建设质量和系统运行情况</div>
										<div class="bd"><textarea>{$data['dueDiligence']['evaluationInfo']['project_quality_situation']}</textarea></div>
									</div>
									<div class="item">
										<div class="hd">C、项目经济收益情况</div>
										<div class="bd"><textarea>{$data['dueDiligence']['evaluationInfo']['project_earnings_situation']}</textarea></div>
									</div>
								</td>
							</tr>
							<tr style="height: 100px;">
								<td>评价结果</td>
								<td class="result">{$data['dueDiligence']['evaluationInfo']['evaluation_result']}{$data['dueDiligence']['evaluationInfo']['evaluation_result_text']}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="part3">
					<div class="attachment-ct">
						<div class="uploadifive-mf-view"><img class="attachment-logo" src="/EnergyFe/img/attachment.png">附件（<?php echo sizeof($data['dueDiligence']['docListInfo'])?>个）</div>
					</div>

					<div class="fileQueue">
						<foreach name="data.dueDiligence.docListInfo" item="vo" >
						<div class="uploadifive-queue-item complete">
						    <a class="close" href="{$vo[0]['file_rename']}">下载</a>
						    <div>
						        <img class="attachment-logo" src="/EnergyFe/img/attachment.png">
						        <span class="filename" title="{$vo[0]['file_name']}">{$vo[0]['file_name']}</span>
						        <span class="filesize">（{$vo[0]['file_size']}）</span>
						    </div>
						</div>
						</foreach>
					</div>
				</div>
			</form>
			<?php } ?>
		</div>
	</div>

	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	
	<script src="/EnergyFe/prd/scripts/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/x-common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/pp-projectInfoView@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/pp-projectInfoView.js.ver';</php>.js"></script>
</body>
</html>
