# thinkPHP
/Runtime

# FileUpload
/UploadDocument

# fekit
**/ver/
**/dev/
**/prd/
**/refs/

# grunt
**/node_modules/
*.css.map

# kdiff3
*.orig

# temp
*.log
*.cache
*.diff
*.patch
*.tmp

# system
.DS_Store
Thumbs.db

# package
*.rar