<!DOCTYPE html>

<html lang="zh">

<head>

<title>能融网管理系统</title>

<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/EnergyFe/prd/styles/Admin/bootstrap.min.css">
<link rel="stylesheet" href="/EnergyFe/prd/styles/Admin/bootstrap-responsive.min.css">
<link rel="stylesheet" href="/EnergyFe/prd/styles/Admin/uniform@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/Admin/uniform.css.ver';</php>.css">
<link rel="stylesheet" href="/EnergyFe/prd/styles/Admin/select2<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/Admin/select2.css.ver';</php>.css">
<link rel="stylesheet" href="/EnergyFe/prd/styles/Admin/matrix-style<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/Admin/matrix-style.css.ver';</php>.css">
<link rel="stylesheet" href="/EnergyFe/prd/styles/Admin/matrix-media<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/Admin/matrix-media.css.ver';</php>.css">
<link rel="stylesheet" href="/EnergyFe/prd/styles/Admin/css/font-awesome<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/Admin/css/font-awesome.css.ver';</php>.css">


<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

 

<!--Header-part-->

<div id="header">

  <h1><a href="admin_inner_staff.html">Matrix Admin</a></h1>

</div>

<!--close-Header-part-->

 

<!--top-Header-menu-->

<div id="user-nav" class="navbar navbar-inverse">

  <ul class="nav">

    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome Admin</span><b class="caret"></b></a>

      <ul class="dropdown-menu">

        <li><a href="http://www.enetf.com/?c=Admin&a=changePassword"><i class="icon-lock"></i> Change Password</a></li>

        <li class="divider"></li>

        <li><a href="http://www.enetf.com/?c=Admin&a=logout"><i class="icon-key"></i> Log Out</a></li>

      </ul>

    </li>

  </ul>

</div>

<!--close-top-Header-menu-->

<!--sidebar-menu-->

 

<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>

  <ul>

    <li><a href="http://www.enetf.com/?c=Admin&a=getAllInnerStaffInfo"><i class="icon icon-group"></i> <span>业务员管理</span></a></li>
	<li><a href="http://www.enetf.com/?c=Admin&a=getAllProjectInvestorInfo"><i class="icon icon-briefcase"></i> <span>项目投资方管理</span></a></li>
	<li class="active"><a href="http://www.enetf.com/?c=Admin&a=getAllProjectProviderInfo"><i class="icon icon-fire"></i> <span>项目提供方管理</span></a></li>
  </ul>

</div>

 

<!--sidebar-menu-->

 

<!--main-container-part-->

<div id="content">

  <div id="content-header">

    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">项目提供方管理</a> <a href="#" class="current">项目提供方信息修改</a></div>

    <h1>项目提供方信息修改</h1>

  </div>

  <div class="container-fluid">

    <div class="row-fluid">

      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>项目提供方信息修改</h5>
          </div>
          <div class="widget-content nopadding">
            <div class="form-horizontal" name="basic_validate" id="basic_validate" novalidate="novalidate">
			<input id="edit_id" type="text" name="required" id="required" value="{$userInfo[0]['id']}" style="display: none;">
              <div class="control-group">
                <label class="control-label">项目提供方邮箱：</label>
                <div class="controls">
                  <input type="text" name="required" id="edit_email" value="{$userInfo[0]['email']}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">项目提供方座机：</label>
                <div class="controls">
                  <input type="text" name="email" id="edit_company_phone" value="{$userInfo[0]['company_phone']}">
                </div>
              </div>
			  <div class="control-group">
                <label class="control-label">项目提供方手机：</label>
                <div class="controls">
                  <input type="text" name="email" id="edit_company_telephone" value="{$userInfo[0]['company_telephone']}">
                </div>
              </div>
              <div class="form-actions" style="text-align:center">
                <input id="edit_save" type="submit" value="提交" class="btn btn-success">
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
<div id="myAlert_edit_success" class="modal hide"  style="display: none;">
              <div class="modal-header">
                <button data-dismiss="modal" class="close myAlert_edit_success_closed" type="button">×</button>
                <h3>提示</h3>
              </div>
              <div class="modal-body">
                <p>修改成功！</p>
              </div>
              <div class="modal-footer"> 
				<a data-dismiss="modal" class="btn myAlert_edit_success_closed" href="#">关闭</a> 
			  </div>
</div>
<div id="myAlert_edit_failed" class="modal hide"  style="display: none;">
              <div class="modal-header">
                <button data-dismiss="modal" class="close myAlert_edit_failed_closed" type="button">×</button>
                <h3>提示</h3>
              </div>
              <div class="modal-body">
                <p>修改失败！</p>
              </div>
              <div class="modal-footer"> 
				<a data-dismiss="modal" class="btn myAlert_edit_failed_closed" href="#">关闭</a> 
			  </div>
</div>
<!--Footer-part-->

<div class="row-fluid">

  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in/">Themedesigner.in</a> </div>

</div>

<!--end-Footer-part-->


<script src="/EnergyFe/prd/scripts/Admin/jquery.min.js"></script>
<script src="/EnergyFe/prd/scripts/Admin/bootstrap.min.js"></script>
<script src="/EnergyFe/prd/scripts/Admin/select2.min.js"></script>
<script src="/EnergyFe/prd/scripts/Admin/jquery.dataTables.min.js"></script>
<script src="/EnergyFe/prd/scripts/Admin/jquery.gritter.min.js"></script>
<script src="/EnergyFe/prd/scripts/Admin/jquery.peity.min.js"></script>
<script src="/EnergyFe/prd/scripts/Admin/jquery.ui.custom@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/Admin/jquery.ui.custom.js.ver';</php>.js"></script>
<script src="/EnergyFe/prd/scripts/Admin/jquery.uniform@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/Admin/jquery.uniform.js.ver';</php>.js"></script>

<script src="/EnergyFe/prd/scripts/Admin/matrix@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/Admin/matrix.js.ver';</php>.js"></script>

<script src="/EnergyFe/prd/scripts/Admin/matrix.tables@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/Admin/matrix.tables.js.ver';</php>.js"></script>

<script src="/EnergyFe/prd/scripts/Admin/matrix.popover@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/Admin/matrix.popover.js.ver';</php>.js"></script>

<script src="/EnergyFe/prd/scripts/Admin/admin/admin_provider@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/Admin/admin/admin_provider.js.ver';</php>.js"></script>


</body>

</html>