<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>Industry News</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/newsList@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/newsList.css.ver';</php>.css">
</head>

<body>
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/header_en.html';</php>
	<div class="material_Contentbox">
		<!-- 左侧导航栏 -->
		<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/News/News_left_en.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="hd">
				<p class="subtopic en">Industry News</p>
			</div>
			<div class="bd">
				<ul class="list">
				<foreach name="arrData.list" item="vo">
					<li data-id="{$vo[0]}">
						<span class="title">{$vo[1]}</span>
						<span class="date">{$vo[2]}</span>
					</li>
				</foreach>
				</ul>
				<div class="pager">
					<a class="s" data-pageno="1" href="#">&lt;&lt;</a>
                    <for start="1" end="$arrData.totalPage">
                        <if condition="$arrData.page eq $i">
                            <a class="n active" data-pageno="{$i}" href="#">{$i}</a>
                        <else/>
                            <a class="n" data-pageno="{$i}" href="#">{$i}</a>
                        </if>
                    </for>
                    <a class="s" data-pageno="{$arrData.endPage}" href="#">&gt;&gt;</a>
				</div>
			</div>
		</div>
	</div>
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/sub_footer_en.html';</php>
	
	<script src="/EnergyFe/prd/scripts/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/newsList@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/newsList.js.ver';</php>.js"></script>
</body>
</html>
