<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="北京光辉普惠能源科技有限公司-官网">
	<meta name="keywords" content="能融网">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>ENF</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/index@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/index.css.ver';</php>.css">
</head>

<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/header_en.html';</php>
	<!-- 图片轮播1:光伏，能源，互联网，金融 -->
	<!-- <div id="your-slider" class="am-slider am-slider-default">
		<ul class="am-slides">
			<li><img src="/EnergyFe/img/slider/slide1-1.png"/></li> 
			<li><img src="/EnergyFe/img/slider/slide1-2.png"/></li>
			<li><img src="/EnergyFe/img/slider/slide1-3.png"/></li>
			<li><img src="/EnergyFe/img/slider/slide1-4.png"/></li>
		</ul>
	</div> -->
	<img class="slide1" src="/EnergyFe/img/slider/slide1_en.jpg" />
	<!-- 橙色条1:搜索框 -->
	<div id="orange1" style="height: 57px; width: 100%; min-width: 1200px; background-color: #ff7937; padding-top: 10px;">
		<div style="display: none; width: 200px; height: 37px; margin-left: auto; margin-right: auto; position: relative;">
			<form action="" class="am-form">
				<div
					style="z-index: 1; margin-left: 175px; margin-top: 5px; position: absolute;">
					<img alt="" src="/EnergyFe/img/magnifier.png" style="width: 15px; height: 15px;">
				</div>
				<input name="search" type="text" class="am-form-field am-round"
					value="" placeholder="输入关键字，搜索光伏项目库" style="width: 200px;" />
			</form>
		</div>
	</div>
	<!-- 导航栏2:有项目，有钱，有专业性 -->
	<div id="nav2" style="height: 400px;">
		<div class="leve1" style="padding: 80px 50px 60px 90px;">
			<div class="div1">
				<img src="/EnergyFe/img/icon1.png">
			</div>
			<div class="div2">Project Pool</div>
			<div class="div3" style="height: 90px;">We  facilitate low-cost, convenient, standardized solar power project development with sound project management and financing methods.</div>
			<div class="div4">
				<a type="button" class="am-btn am-btn-warning am-round" href="?c=OurMode&a=ourProject">Learn more</a>
			</div>
		</div>
		<div class="leve2"></div>
		<div class="leve1" style="padding: 80px 50px 60px 50px;">
			<div class="div1">
				<img src="/EnergyFe/img/icon2.png">
			</div>
			<div class="div2">Financing Method</div>
			<div class="div3" style="height: 90px;">We provide robust financing plans through professional information management & assessment platform with our  financing partners.</div>
			<div class="div4">
				<a type="button" class="am-btn am-btn-warning am-round" href="?c=OurMode&a=finance">Learn more</a>
			</div>
		</div>
		<div class="leve2"></div>
		<div class="leve1" style="padding: 80px 95px 60px 50px;">
			<div class="div1">
				<img src="/EnergyFe/img/icon3.png">
			</div>
			<div class="div2">Investment Management</div>
			<div class="div3" style="height: 90px;">We provide professional asset management service based on ENF enterprise standards, economic evaluation model and software tools. </div>
			<div class="div4">
				<a type="button" class="am-btn am-btn-warning am-round" href="?c=OurMode&a=manage">Learn more</a>
			</div>
		</div>
	</div>
	<!-- 图片轮播2:不同光伏图片 -->
	<div class="slider2-ct" style="min-width: 1200px;">
		<div id="your-slider2" class="am-slider am-slider-default">
			<ul class="am-slides">
				<li><img src="/EnergyFe/img/slider/slide2-1_en.jpg"/></li>
				<li><img src="/EnergyFe/img/slider/slide2-2_en.jpg"/></li>
				<li><img src="/EnergyFe/img/slider/slide2-3_en.jpg"/></li>
			</ul>
		</div>
	</div>
	<!-- 加入我们 -->
	<div id="join-us" style="padding-bottom: 50px;">
		<p>We are dedicated to becoming the most forward-</p>
		<p>looking distributed energy solution provider.</p>
		<p>Let us make the world better together with new energy！</p>
		<a style="margin-top:30px;" type="button" class="join-us am-btn am-btn-warning am-round" href="?c=AboutUs&a=joinUs">Join us</a>
	</div>
	<!-- 图片轮播3:立体解决方案 -->
	<div class="slider3-ct" style="min-width: 1200px;">
		<div id="your-slider3" class="am-slider am-slider-default">
			<ul class="am-slides">
				<li><img src="/EnergyFe/img/slider/slide3-1_en.jpg"/></li>
				<li><img src="/EnergyFe/img/slider/slide3-2_en.jpg"/></li>
				<li><img src="/EnergyFe/img/slider/slide3-3_en.jpg"/></li>
				<li><img src="/EnergyFe/img/slider/slide3-4_en.jpg"/></li>
				<li><img src="/EnergyFe/img/slider/slide3-5_en.jpg"/></li>
			</ul>
		</div>
	</div>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/footer_en.html';</php>

	<div id="win"
		style="display: none; POSITION: fixed; left: 50%; top: 50%; width: 600px; height: 400px; margin-left: -300px; margin-top: -200px; border: 1px solid #888; background-color: #fff; text-align: center; z-index: 20">
		<!-- 这是DIV登录框示例<br>
		<a href="javascript:closeLogin();">关闭登录框</a> -->
		<section>
			<form class="am-form am-form-horizontal" action="LoginValidateAction"
				method="post">
				<!-- <div style="text-align:left;"><span >账号登录</span><img alt="" src="image/add.jpg" style="margin-right:10px;"></div> -->
				<div>
					<span style="margin-left:15px;">账号</span><span style="margin-right:15px;">密码</span>
				</div>
				<div>
					<input type="text" name="" />
				</div>
			</form>
		</section>
	</div>
	<script src="/EnergyFe/prd/scripts/common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/lib/amazeui.min.js"></script>
	<script src="/EnergyFe/prd/scripts/index@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/index.js.ver';</php>.js"></script>
</body>
</html>