.l-nav {
	float: left;
	width: 300px;
	padding: 60px 0 0 50px;
}

.l-nav dl {
	width: 160px;
	text-align: center;
	line-height: 40px;
}

.l-nav dl dt {
	background-color: #FD7940;
	color: #fff;
}

.l-nav dl dd a {
	display: block;
}

.l-nav dl dd.active a, .l-nav dl dd a:hover {
	color: #FD7940;
}