.r-content .list p {
    display: inline-block;
    text-align: center;
    margin-right: 2px;
    word-break: break-all;
}

.r-content .list .hd p {
    background-color: #eee;
    line-height: 40px;
}

.r-content .list p.c4 {
    margin-right: 0;
}

.r-content .list .c0 {
    width: 30%;
}
.r-content .list .c1 {
    width: 18%;
}
.r-content .list .c2 {
    width: 24%;
}
.r-content .list .c3 {
    width: 10%;
}
.r-content .list .c4 {
    width: 15%;
}
.r-content .list .c5 {
    width: 23%;
}
.r-content .list .c6 {
    width: 15%;
}

.r-content .list .c0 a {
    display: block;
}

.r-content .list .bd {
    min-height: 240px;
}

.r-content .list .bd > div {
    min-height: 35px;
    padding-top: 5px;
}

.r-content .list .bd p {
    vertical-align: middle;
}

.r-content .list .bd .new a {
    color: #FD7940;
}

.r-content .list .bd a:hover {
    color: #996F6F;
}