<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Firm Introduction</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/company@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/company.css.ver';</php>.css">
</head>

<body>
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/header_en.html';</php>
	<div class="material_Contentbox" id="news">
		<!-- 左侧导航栏 -->
		<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/AboutUs/AboutUs_left_en.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="hd">
				<p class="subtopic en">Firm Introduction</p>
			</div>
			<div class="bd">
				<div class="brief-des">China Enet Finance Corporation Limited combines energy, internet and finance to lower the cost of solar energy and micro grid development。</div>
				<div class="d1">
					<img src="/EnergyFe/img/FI1.jpg">				
					<p class="l-t">Develop the information sharing channels by Internet, to promote the standardization and   transparency of PV power plant development</p>
					<p class="r-t">Promote the energy internet technology to be safe, efficient and reliable</p>
					<p class="l-b">Develop the remote monitoring, smart operation diagnostics and database to lower the cost of operation and maintenance</p>
					<p class="r-b">Lower the financing cost by financial innovation, cross-regional collaboration and credit enhancement</p>
				</div>
				<div class="d2">
					<div class="title">International Cooperation</div>
					<div class="item item1" style="margin-right: 0.6rem;">
						<img class="img1" src="/EnergyFe/img/FI2.jpg" />
						<p style="line-height: 1.5;">APEC Photovoltaic Communication <br/>& Cooperation Research Platform</p>
					</div>
					<div class="item item2" style="margin-right: 0.6rem;">
						<img class="img2" src="/EnergyFe/img/FI3.jpg" />
						<p style="line-height: 1.5;">Distributed PV Power Plant <br/>Financing Innovation Toolkit</p>
					</div>
					<div class="item item3">
						<img class="img3" src="/EnergyFe/img/FI4_1.jpg" />
						<img class="img3" src="/EnergyFe/img/FI4_2.jpg" />
						<p style="line-height: 1.5;width: auto;">Global Winning Team on EU Climathon <br/>“City-Level Solutions to Climate Change” <br/>2015 UN Climate Change Comference Presentation</p>
					</div>
				</div>
				<div class="d3">
					<div class="title" style="margin-bottom: 18px;">Product Offerings</div>
					<img src="/EnergyFe/img/FI5_en.jpg" />
					<img src="/EnergyFe/img/FI6_en.jpg" />
					<img src="/EnergyFe/img/FI7_en.jpg" />
					<img class="last" src="/EnergyFe/img/FI8_en.jpg" />
				</div>
			</div>
		</div>
	</div>
	<!-- footer start -->
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/sub_footer_en.html';</php>
	<!-- footer end -->
	<script src="/EnergyFe/prd/scripts/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/company@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/company.js.ver';</php>.js"></script>
</body>
</html>
