<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>关于我们</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/company@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/company.css.ver';</php>.css">
</head>

<body>
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/header.html';</php>
	<div class="material_Contentbox" id="news">
		<!-- 左侧导航栏 -->
		<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/AboutUs/AboutUs_left.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="hd">
				<p class="subtopic cn">公司概况</p>
				<p class="subtopic en">Firm Introduction</p>
			</div>
			<div class="bd">
				<div class="brief-des">北京光辉普惠能源科技有限公司，旨在结合能源、互联网和金融三条路径，不断降低光伏、微电网等领域的开发、融资、运营成本。</div>
				<div class="d1">
					<img src="/EnergyFe/img/FI1.jpg">				
					<p class="l-t">开拓能源互联网领域成熟解决方案项目信息渠道，加速推广应用进程，促进电站产品标准化、透明化、规范化</p>
					<p class="r-t">推动安全、高效、可靠的能源互联网技术标准研究</p>
					<p class="l-b">推广项目远程监控、运行智能诊断系统，建立运行数据库，提高项目运行有效小时数，降低运维成本</p>
					<p class="r-b">通过金融创新、跨领域合作，开发能源互联网项目增信手段，提升流动性，降低融资成本</p>
				</div>
				<div class="d2">
					<div class="title">国际合作项目</div>
					<div class="item item1">
						<img class="img1" src="/EnergyFe/img/FI2.jpg" />
						<p>APEC光伏交流与合作平台研究</p>
					</div>
					<div class="item item2">
						<img class="img2" src="/EnergyFe/img/FI3.jpg" />
						<p>分布式光伏电站融资创新工具包</p>
					</div>
					<div class="item item3">
						<img class="img3" src="/EnergyFe/img/FI4_1.jpg" />
						<img class="img3" src="/EnergyFe/img/FI4_2.jpg" />
						<p>欧盟Climathon全球城市解决方案2015巴黎气候能源大会 Present</p>
					</div>
				</div>
				<div class="d3">
					<div class="title" style="margin-bottom: 18px;">产品体系</div>
					<img src="/EnergyFe/img/FI5.jpg" />
					<img src="/EnergyFe/img/FI6.jpg" />
					<img src="/EnergyFe/img/FI7.jpg" />
					<img class="last" src="/EnergyFe/img/FI8.jpg" />
				</div>
			</div>
		</div>
	</div>
	<!-- footer start -->
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/sub_footer.html';</php>
	<!-- footer end -->
	<script src="/EnergyFe/prd/scripts/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/company@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/company.js.ver';</php>.js"></script>
</body>
</html>
