<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>加入我们</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/joinUs@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/joinUs.css.ver';</php>.css">
</head>

<body>
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/header.html';</php>
	<div class="material_Contentbox" id="news">
		<!-- 左侧导航栏 -->
		<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/AboutUs/AboutUs_left.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="hd">
				<p class="subtopic cn">加入我们</p>
				<p class="subtopic en">Join Us</p>
			</div>
			<div class="bd">
				<div>
					<div class="subtext1">我们在做什么？</div>
					<div class="subtext1">What we are doing。</div>
				</div>
				<div>				
					<div class="subtext2">"</div>
					<div class="subtext2">最具变革精神：引导产业资本介入能源结构转型的历史变革</div>
					<div class="subtext2">"</div>
					<div class="subtext2">最具战略眼光：成为全球最具前瞻性的分布式能源立体解决方案提供商</div>
					<div class="subtext2">"</div>
					<div class="subtext2">最具专业水准：为新能源投融资提供最专业的服务</div>					
				</div>
				<div class="ser-job">		
					<div class="subtext3">投资/基金项目经理<a class="subtextweb" target="_blank" href="http://search.51job.com/job/72674247,c.html">投递简历</a></div>
					<div class="subtext3">电力投资总监<a class="subtextweb" target="_blank" href="http://search.51job.com/job/72673225,c.html">投递简历</a></div>
					<div class="subtext3">高级软件工程师<a class="subtextweb" target="_blank" href="http://search.51job.com/job/72319938,c.html">投递简历</a></div>
				</div>
				<div>
					<div class="subtext1">让我们一起创造更美好的新能源生态！</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer start -->
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/sub_footer.html';</php>
	<!-- footer end -->
	<script src="/EnergyFe/prd/scripts/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/joinUs@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/joinUs.js.ver';</php>.js"></script>
</body>
</html>
