<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Join Us</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/joinUs@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/joinUs.css.ver';</php>.css">
</head>

<body>
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/header_en.html';</php>
	<div class="material_Contentbox" id="news">
		<!-- 左侧导航栏 -->
		<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/AboutUs/AboutUs_left_en.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="hd">
				<p class="subtopic cn">Join Us</p>
			</div>
			<div class="bd">
				<div>
					<div class="subtext1">What we are doing。</div>
				</div>
				<div>				
					<div class="subtext2">"</div>
					<div class="subtext2">Revolutionary Spirit : Introduce capital to facilitate industry revolution</div>
					<div class="subtext2">"</div>
					<div class="subtext2">Strategic Insight : To be the most forward-looking distributed energy solution provider</div>
					<div class="subtext2">"</div>
					<div class="subtext2">Professional Service ：Provide professional new energy financing service</div>					
				</div>
				<div class="ser-job">
					<div class="subtext3">Fund Project Manager<a class="subtextweb" target="_blank" href="http://search.51job.com/job/72674247,c.html">Find Your Fit</a></div>
					<div class="subtext3">Electricity Division Manager<a class="subtextweb" target="_blank" href="http://search.51job.com/job/72673225,c.html">Find Your Fit</a></div>
					<div class="subtext3">Senior Software Engineer<a class="subtextweb" target="_blank" href="http://search.51job.com/job/72319938,c.html">Find Your Fit</a></div>	
				</div>
				<div>
					<div class="subtext1">Let us make the world better together with new energy！</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer start -->
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/sub_footer_en.html';</php>
	<!-- footer end -->
	<script src="/EnergyFe/prd/scripts/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/joinUs@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/joinUs.js.ver';</php>.js"></script>
</body>
</html>
