<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>核心团队</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/team@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/team.css.ver';</php>.css">
</head>

<body>
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/header.html';</php>
	<div class="material_Contentbox" id="news">
		<!-- 左侧导航栏 -->
		<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/AboutUs/AboutUs_left.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="hd">
				<p class="subtopic cn">核心团队</p>
				<p class="subtopic en">Core Team</p>
			</div>
			<div class="bd">
				<div>
					<div class="person">
						<img class="subtextimg" src="/EnergyFe/img/CT1.jpg">
						<p class="subtextpt">首席科学家</p>
						<p class="name">王斯成</p>
					</div>
					<p class="subtext">毕业于厦门大学，获硕士学位。IEC TC 82光伏系统工作组中国专家组主席，国家光伏、微电网政策制订、评审专家。自1982年起从事太阳能光伏发电的产品开发、工程建设、标准制订和政策研究工作，主持和参与过数十项光伏发电产品开发，数百项工程建设，参与国家重大光伏示范工程及光伏电价政策制定。主持制定多项光伏系统和部件国家标准，参与多项国际合作项目，包括：世界银行项目，联合国开发计划署（UNDP）可再生能源项目，中美能源效率及可再生能源项目等。退休前任国家发改委能源研究所研究员，曾任中国可再生能源学会常务理事，中国可再生能源行业协会副主任委员以及中国可再生能源学会光电专委会副主任。</p>				
				</div>
				<div>
					<div class="person">
						<img class="subtextimg" src="/EnergyFe/img/CT2.jpg">
						<p class="subtextpt">董事长</p>
						<p class="name">万琳</p>
					</div>
					<p class="subtext">毕业于中国人民大学、英国CASS商学院，分获经济学学士学位及航运、贸易与金融硕士学位。APEC新能源专家组中国代表、国家注册高级审查员。曾从事国内造船及航运战略政策研究、技术标准制订、国际海事交流与合作等工作。2009年投身光伏行业，致力于推动光伏技术标准研究、光伏电站投融资，先后任鉴衡认证中心副主任、传龙投资咨询公司总裁。负责2009-2012年期间国内太阳能政府补贴项目评审、验收，中美、海峡两岸光伏合作与交流。2013年承担中美十项全能太阳能竞赛的系统评估、比赛成绩评比工作。现任太平洋经济合作全国委员会工商委员会副理事长，国际光伏质量论坛指导委员会委员，国际电工委员会专家。</p>
				</div>
				<div class="last">
					<div class="person">
						<img class="subtextimg" src="/EnergyFe/img/CT3.jpg">
						<p class="subtextpt">首席执行官</p>
						<p class="name">李月</p>
					</div>
					<p class="subtext">毕业于中国人民大学、斯坦福大学，分获环境经济学学士学位和国际政策硕士学位。 2009-2013年在美国加州分布式光伏领域进行融资和金融产品开发，参与美国龙头光伏金融创业团队，期间派驻德国工作。2014年牵头组建国内第一支专业化光伏融资租赁业务团队。先后担任国观智库副总裁、翔龙融资租赁公司副总裁。2005-2007年在中国开展碳减排项目（CDM）开发和创业，是国内碳交易和碳金融的第一批实践者和开拓者。</p>
				</div>
			</div>
		</div>
	</div>
	<!-- footer start -->
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/sub_footer.html';</php>
	<!-- footer end -->
	<script src="/EnergyFe/prd/scripts/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/team@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/team.js.ver';</php>.js"></script>
</body>
</html>
