<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Core Team</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/team@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/team.css.ver';</php>.css">
</head>

<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/header_en.html';</php>
	<div class="material_Contentbox" id="news">
		<!-- 左侧导航栏 -->
		<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/AboutUs/AboutUs_left_en.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="hd">
				<p class="subtopic en">Core Team</p>
			</div>
			<div class="bd">
				<div>
					<div class="person">
						<img class="subtextimg" src="/EnergyFe/img/CT1.jpg">
						<p class="subtextpt">Chief Scientist</p>
						<p class="name">Sicheng Wang</p>
					</div>
					<p class="subtext">Sicheng Wang is the Chief Scientist of ENetF. Mr Wang is well-known in PV industry and academy. From 1982, he works on PV product development, project construction, industrial standard and related law and regulation formulating. He is chairman of Chinese expert team of IEC (International Electrotechnical Commission) TC82 and was a researcher in National Development and Reform Commission before his retirement.</p>				
				</div>
				<div>
					<div class="person">
						<img class="subtextimg" src="/EnergyFe/img/CT2.jpg">
						<p class="subtextpt">Chairman</p>
						<p class="name">Lin Wan</p>
					</div>
					<p class="subtext">Lin Wan is the chairman of ENetF and also the Chinese representative of APEC (Asia-Pacific Economic Cooperation) new energy expert team. Mr Wan is experienced in domestic subsidy PV programme review and worked in Ministry of Transport of the People's Republic of China for 15 years. </p>
				</div>
				<div class="last">
					<div class="person">
						<img class="subtextimg" src="/EnergyFe/img/CT3.jpg">
						<p class="subtextpt">CEO</p>
						<p class="name">Yue Li</p>
					</div>
					<p class="subtext">Yue Li is the CEO of ENetF and professional in solar finance. Ms Li graduated from Stanford University and has extended experience in the US and China solar power industry. She also has entrepreneurial experience  in the carbon offset sector in China from 2005 to 2008. </p>
				</div>
			</div>
		</div>
	</div>
	<!-- footer start -->
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer_en.html';</php>
	<!-- footer end -->
	<script src="/EnergyFe/prd/scripts/common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/team@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/team.js.ver';</php>.js"></script>
</body>
</html>
