.content .td {
	width: 1300px;
	height: 35px;
	border-bottom: 2px solid #808080;
	overflow: hidden;
	text-align: center;
	
}
.content .td img {
	width:168px;
	height:26px;
	padding-left: 18px;
	margin: 0 auto;
}
.content .bd {
	background: url(/EnergyFe/img/login.jpg) no-repeat center bottom;
	width: 1300px;
	height: 600px;
	
}
.content .bd .md {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 400px;
	margin: 18px auto 0 auto;
	
}
.content .bd .md #warning {
	border-radius: 5px;
	width: 250px;
	height: 35px;
	padding-left: 2px;
	color: #000000;
	background-color: #FF0000;
	font-size: 18px;
	margin: 6px auto 0 auto;
}
.content .bd .md #warning2 {
	border-radius: 5px;
	width: 250px;
	height: 35px;
	padding-left: 2px;
	color: #000000;
	background-color: #FF0000;
	font-size: 18px;
	margin: 6px auto 0 auto;
}
.content .bd .md #warning3 {
	border-radius: 5px;
	width: 250px;
	height: 35px;
	padding-left: 2px;
	color: #000000;
	background-color: #FF0000;
	font-size: 18px;
	margin: 6px auto 0 auto;
}
.content .bd .md .mail{
	width: 250px;
	height: 35px;
	margin: 12px auto 12px auto;
	
}
.content .bd .md .pass{
	width: 250px;
	height: 35px;
	margin: 12px auto 12px auto;
	
}
.content .bd .md .repeatpass{
	width: 250px;
	height: 35px;
	margin: 12px auto 12px auto;
	
}
.content .bd .md #mailinput {
	border-radius: 5px;
	width: 250px;
	height: 35px;
	padding-left: 2px;
	background-color: #ccc;
	font-size: 18px;
}
.content .bd .md #passinput {
	border-radius: 5px;
	width: 250px;
	height: 35px;
	background-color: #ccc;
	font-size: 18px;
}
.content .bd .md #repeatpassinput {
	border-radius: 5px;
	width: 250px;
	height: 35px;
	background-color: #ccc;
	font-size: 18px;
}
.content .bd .md span {
	font-size: 12px;
}
.content .bd .md .mark {
	width: 250px;
	margin: 4px auto 0 auto;
	font-size: 12px;
}
.content .bd .md .button {
	width: 250px;
	margin: 4px auto 0 auto;
}
.content .bd .md #registerbtn {
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	background-color: #ffa500;
	width:250px;
	height:35px;
	border-width:0; 
	
}
.content .bd .md .beizhu {
	width: 250px;
	margin: 0 auto;
	font-size: 12px;
}
.content .bd .md .beizhu a {
	width: 100px;
	margin: 0 auto;
}