<!-- 橙色条2:关于我们，联系方式 -->
<div id="orange2">
	<div>
		<a href="?c=AboutUs&a=company">About Us</a> ｜ 
		<a id="favorites" href="javascipt:void(0);">Add Favorite</a> ｜ 
		<a href="?c=AboutUs&a=contact">Contact Us</a> ｜ 
		<a href="?c=AboutUs&a=joinUs">Join Us</a>
	</div>
</div>
<!-- 版权信息 -->
<div id="copy-right" style="height: 200px; width: 100%;min-width: 1200px;text-align:center;">
	<div style="height: 180px; width: 251px; padding-top:50px;padding-bottom:30px;margin:0 auto;">
		<div style="height: 100px; width: 100px; float: left;">
			<img alt="" src="../image/qrcode.jpg" height="100px" width="100px">
		</div>
		<div style="height: 80px; width: 1px; float: left; background-color: #ccc; margin:10px 0;"></div>
		<div style="height: 100px; width: 150px; float: left;">
			<div><img alt="" src="../image/logo.jpg" height="50px" width="150px"></div>
			<div><img alt="" src="../image/logo_ghph.jpg" height="45px" width="145px"></div>
		</div>
	</div>
	<div style="height: 50px; width: 100%; text-align:center;">©2015 China Enet Finance Corporation Limited        Powered by enetf.com</div>
</div>