<!-- 导航栏1 -->
<nav id="topNav" class="topNav">
	<!-- 注册登录 -->
	<div id="register" style="display:none;">
		<div>
			<a href="../Enterprise/protocol.jsp" target="_blank">注册</a> ｜ <a href="../login.jsp" target="_blank">登录</a>
		</div>
	</div>
	<div id="lang">
		<div>
			<a href="#" data-lang="cn">中文</a> ｜ <a href="#" data-lang="en">English</a>
		</div>
	</div>
	<ul class="main">
		<li style="width: 50%;"><img src="/EnergyFe/img/logo.png"></li>
		<li><a class="Index" href="?c=Index">首页</a></li>
		<li>
			<a class="News" href="?c=News&a=newsList">行业动态</a>
			<ul class="sub" style="display: none;">
				<li class="News_newsList"><a href="?c=News&a=newsList">行业新闻</a></li>
				<li class="News_docList"><a href="?c=News&a=docList">资料下载</a></li>
			</ul>
		</li>
		<li>
			<a class="OurMode" href="?c=OurMode&a=ourProject">能融模式</a>
			<ul class="sub" style="display: none;">
				<li class="OurMode_ourProject"><a href="?c=OurMode&a=ourProject">项目库</a></li>
				<li class="OurMode_finance"><a href="?c=OurMode&a=finance">项目融资</a></li>
				<li class="OurMode_manage"><a href="?c=OurMode&a=manage">投资管理</a></li>
			</ul>
		</li>
		<li>
			<a class="AboutUs" href="?c=AboutUs&a=company">关于我们</a>
			<ul class="sub" style="display: none;">
				<li class="AboutUs_company"><a href="?c=AboutUs&a=company">公司概况</a></li>
				<li class="AboutUs_team"><a href="?c=AboutUs&a=team">核心团队</a></li>
				<li class="AboutUs_contact"><a href="?c=AboutUs&a=contact">联系我们</a></li>
				<li class="AboutUs_joinUs"><a href="?c=AboutUs&a=joinUs">加入我们</a></li>
			</ul>
		</li>
		<li><a href="/login.jsp" target="_blank">我的项目</a></li>
	</ul>
	<div class="splitBar"></div>
</nav>