<!-- 导航栏1 -->
<nav id="topNav" class="topNav">
	<!-- 注册登录 -->
	<div id="register" style="display:none;">
		<div>
			<a href="../Enterprise/protocol.jsp" target="_blank">Regist</a> ｜ <a href="../login.jsp" target="_blank">Login</a>
		</div>
	</div>
	<div id="lang">
		<div>
			<a href="#" data-lang="cn">中文</a> ｜ <a href="#" data-lang="en">English</a>
		</div>
	</div>
	<ul class="main">
		<li style="width: 50%;"><img src="/EnergyFe/img/logo.png"></li>
		<li><a class="Index" href="?c=Index">Home</a></li>
		<li>
			<a class="News" href="?c=News&a=newsList">News</a>
			<ul class="sub" style="display: none; width: 208px;">
				<li class="News_newsList"><a href="?c=News&a=newsList">Industry News</a></li>
				<li class="News_docList"><a href="?c=News&a=docList">Material Download</a></li>
			</ul>
		</li>
		<li>
			<a class="OurMode" href="?c=OurMode&a=ourProject">ENF Model</a>
			<ul class="sub" style="display: none;" >
				<li class="OurMode_ourProject"><a href="?c=OurMode&a=ourProject">Project Pool</a></li>
				<li class="OurMode_finance"><a href="?c=OurMode&a=finance">Financing Method</a></li>
				<li class="OurMode_manage"><a href="?c=OurMode&a=manage">Investment Management</a></li>
			</ul>
		</li>
		<li>
			<a class="AboutUs" href="?c=AboutUs&a=company">About Us</a>
			<ul class="sub" style="display: none;">
				<li class="AboutUs_company"><a href="?c=AboutUs&a=company">Firm Introduction</a></li>
				<li class="AboutUs_team"><a href="?c=AboutUs&a=team">Core Team</a></li>
				<li class="AboutUs_contact"><a href="?c=AboutUs&a=contact">Contact Us</a></li>
				<li class="AboutUs_joinUs"><a href="?c=AboutUs&a=joinUs">Join Us</a></li>
			</ul>
		</li>
		<li><a href="?c=User&a=login" target="_blank">My Project</a></li>
	</ul>
	<div class="splitBar"></div>
</nav>