.r-content form.dueDiligence {
	width: 840px;
	margin: 60px auto 0;
}

.r-content form.dueDiligence .detail {
	border-top: 2px solid #ccc;
	position: relative;
}

.r-content form.dueDiligence .detail.part1 {
	padding: 40px 30px;
}

.r-content form .detail .title {
	width: 200px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	color: #FD7940;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -20px;
}

.r-content form .part1 .brief-info {
	width: 780px;
	height: 190px;
	border: 2px solid #EC9797;
	border-radius: 5px;
	position: relative;
}

.r-content form .part1 .brief-info .l {
	width: 286px;
	height: 100%;
	float: left;
}

.r-content form .part1 .brief-info .r {
	width: 490px;
	height: 100%;
	float: left;
}

.r-content form .part1 .brief-info .rec {
	position: absolute;
	top: -5px;
	right: -5px;
}

.r-content form .part1 .brief-info .top, .r-content form .part1 .brief-info .bottom {
	background-color: #eee;
	text-align: center;
	line-height: 36px;
}

.r-content form .part1 .brief-info .top input, .r-content form .part1 .brief-info .bottom input {
	height: 24px;
	margin-left: 5px;
	width: 75px;
}

.r-content form .part1 .brief-info .top span, .r-content form .part1 .brief-info .bottom span {
	margin-right: 10px;
}

.r-content form .part1 .brief-info .top span.last, .r-content form .part1 .brief-info .bottom span.last {
	margin-right: 0;
}

.r-content form .part1 .brief-info .middle {
	height: 114px;
}

.r-content form .part1 .brief-info .middle .item {
	float: left;
	margin-left: 50px;
	width: 100px;
	text-align: center;
}

.r-content form .part1 .brief-info .middle .item img {
	width: 50px;
	height: 50px;
}

.r-content form .part1 .brief-info .middle .item input {
	width: 80px;
	height: 24px;
}


.r-content form.dueDiligence .detail.part2 {
	padding: 40px 0;
}

.r-content form .part2 table td {
	text-align: center;
	border: 1px solid #ccc;
}

.r-content form .part2 table.main-info {
	width: 100%;
}

.r-content form .part2 table.main-info > tbody > tr > td:first-child {
	width: 140px;
	background-color: #ccc;
	border-bottom-color: #fff;
}

.r-content form .part2 table.base-info td {
	height: 30px;
}

.r-content form .part2 table.base-info td.c0 {
	width: 110px;
}
.r-content form .part2 table.base-info td.c1 {
	width: 265px;
	text-align: left;
	padding-left: 10px;
}
.r-content form .part2 table.base-info td.c2 {
	width: 92px;
}
.r-content form .part2 table.base-info td.c3 {
	width: 232px;
	text-align: left;
	padding-left: 13px;
}

.r-content form .part2 table.base-info input, .r-content form .part2 table.base-info select {
	padding-left: 2px;
	width: 160px;
	height: 24px;
	margin-right: 5px;
}

.r-content form .part2 table.base-info .other {
	width: 75px;
}

.r-content form .part2 table.base-info td.area {
	padding-left: 2px;
	padding-right: 2px;
}
.r-content form .part2 table.base-info .area select {
	width: 53px;
}

.r-content form .part2 table.base-info .area input {
	width: 100%;
}

.r-content form .part2 table.main-info textarea {
	width: 100%;
	padding-left: 20px;
	padding-top: 5px;
	height: 110px;
	border: 0;
	resize: none;
}

.r-content form .part2 table.main-info .hd {
	text-align: left;
	padding-left: 20px;
	line-height: 32px;
	background-color: #ccc;
}

.r-content form .part2 table .result-info td {
	width: 78px;
	height: 40px;
	position: relative;
}

.r-content form .part2 table .result-info td.s {
	border-color: #fff;
}

.r-content form .part2 table .result-info td.s > div {
	display: block;
	cursor: pointer;
	width: 76px;
	height: 39px;
	padding-top: 11px;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
}

.r-content form .part2 table .result-info td.s.active > div, .r-content form .part2 table .result-info td.s > div:hover {
	width: 88px;
	height: 50px;
	font-size: 24px;
	top: -5px;
	left: -5px;
	z-index: 1;
}

.r-content form .part2 table .result-info .s-aaa {
	background-color: #FD793F;
}
.r-content form .part2 table .result-info .s-aa {
	background-color: #FF8F5E;
}
.r-content form .part2 table .result-info .s-a {
	background-color: #FBAF8E;
}
.r-content form .part2 table .result-info .s-bbb {
	background-color: #F8C8B4;
}
.r-content form .part2 table .result-info .s-bb {
	background-color: #FBCC7B;
}
.r-content form .part2 table .result-info .s-b {
	background-color: #F9AF33;
}
.r-content form .part2 table .result-info .s-ccc {
	background-color: #96AFDB;
}
.r-content form .part2 table .result-info .s-cc {
	background-color: #6D8BC0;
}
.r-content form .part2 table .result-info .s-c {
	background-color: #6D8BC0;
}

.r-content form .part3 .attachment-ct {
	background-color: #ccc;
}

.r-content form .part3 .uploadifive-mf {
	background: none;
	border: 0;
	cursor: pointer;
	padding-left: 4px;
	line-height: 34px;

	font-weight: normal;
	color: #6C68E9;
	font-size: 14px;
	text-decoration: underline;
}

.r-content form .part3 .uploadifive-mf input[type=file] { 
	height: 36px;
}

.r-content form .part3 .uploadifive-mf img {
	vertical-align: middle;
	margin-right: 6px;
}

.r-content form .part3 .fileQueue {
	padding: 30px 50px;
	border: 1px solid #ccc;
}

.uploadifive-queue-item {
	background: none;
	border-radius: 0;
	border-bottom: none;
	width: 425px;
}

.uploadifive-queue-item .close {
	background: none;
	text-indent: 0;
	width: auto;
	color: #2C586E;
	margin-right: 10px;
	transform: translateY(3px);
}

.r-content form .part3 .fileQueue .attachment-logo {
	vertical-align: middle;
	margin-right: 15px;
}
.r-content form .part3 .fileQueue .filename {
	margin-right: 5px;
	display: inline-block;
	max-width: 205px;
	overflow: hidden;
	text-overflow: ellipsis;
	transform: translateY(4px);
	white-space: nowrap;
}

.r-content form .part3 .fileQueue .filesize {
	color: #2C586E;
}

.r-content form .operator {
	margin-top: 30px;
	text-align: center;
}

.r-content form .operator .tips {
	visibility: hidden;
	font-size: 13px;
	color: #F57929;
	margin-right: 20px;
}

.r-content form .operator input[type="submit"] {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	background-color: #FD7940;
	color: #fff;
	border: 0;
	margin-right: 80px;
}

.r-content form .operator input[type="submit"]:hover {
	background: #F1920C;
}

.r-content form .operator input[type="submit"].last {
	margin-right: 0;
}

/* 尽职调查, 提交后查看 */
.r-content .result {
	color: #FD7940;
}

.r-content .uploadifive-mf-view {
	line-height: 34px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 140px;
	text-decoration: none;
	color: #000;
}

.r-content .uploadifive-mf-view img {
	vertical-align: middle;
	margin-right: 6px;
}