.r-content {
	width: 670px;
	position: relative;
}

.r-content form .operator {
	margin-top: 30px;
	text-align: center;
}

.r-content form .operator input[type="submit"] {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	background-color: #FD7940;
	color: #fff;
	border: 0;
	margin-right: 100px;
}

.r-content form .operator input[type="submit"]:last-child {
	margin-right: 0;
}

.r-content form .operator input[type="submit"]:hover {
	background: #F1920C;
}

.r-content form .operator input[type="submit"].disabled {
	background-color: #ccc;
}

.r-content .signed {
	position: absolute;
	right: -130px;
	top: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #ccc;
	border-radius: 100%;
	color: #fff;
}