.r-content {
	position: relative;
}

.r-content.step1 .step, .r-content.step2 .step, .r-content.step3 .step {
	width: 478px;
	margin-left: 45px;
}

.btn.export {
	display: inline-block;
	width: 100px;
	text-align: center;
	line-height: 35px;
	border-radius: 5px;
	background-color: #FD7940;
	color: #fff;
	border: 0;
	position: absolute;
	top: 28px;
	left: 530px;
}

.btn.export:hover {
	background: #F1920C;
}