/* 默认展示最后一步对应的内容 */
.r-content .content {
	display: none;
}

.r-content.step1 .content1 {
	display: block;
}

.r-content.step2 .content2 {
	display: block;
}

.r-content.step3 .content3 {
	display: block;
}

.r-content.step1 .step, .r-content.step2 .step, .r-content.step3 .step {
	margin: 0 auto;
}

/* 等待意向书，等待尽职调查 */
.r-content .content.wait p {
	text-align: center;
	padding-top: 100px;
}

.r-content .content.wait p img {
	vertical-align: middle;
	width: 42px;
	margin-right: 20px;
}

/* 待签署意向书，已签署意向书 */
.r-content .content.content2.submited {
	padding-top: 40px;
	width: 670px;
	margin: 0 auto;
}

.r-content .content.content2.submited .title {
	text-align: center;
	font-weight: bold;
}

.r-content .operator {
	text-align: center;
}

.r-content .content.content2.signed .operator input[type="submit"]:hover {
	background: #FD7940;
}