.r-content .state, .r-content .title {
	line-height: 40px;
	color: #666;
	padding-left: 10px;
}

.r-content .title {
 	padding-bottom: 12px;
 	font-size: 22px;
}

.r-content .md {
	width: 800px;
	padding-left: 50px;
}
.r-content .md #warning {
	border-radius: 5px;
	width: 250px;
	height: 35px;
	padding-left: 2px;
	color: #FF0000;
	font-size: 15px;
	margin: 6 auto 0 auto;
}

.r-content .md ul {
	width: 60%;
}

.r-content .md ul li {
	line-height: 40px;
	margin: 2px 0 2px 0;
}

.r-content .md ul .lb {
	display: inline-block;
	font-size: 18px;
	width: 120px;
}

.r-content .md ul input, .r-content .md ul select {
	font-size: 16px;
	padding-left: 2px;
	width: 200px;
	height: 24px;
}

.r-content .md div {
	float: left;
	width: 16%;
}

.r-content .button{
	padding-left: 120px;
	padding-top: 10px;
	margin: 30px 0 40px 2px;

}

.r-content .button button{
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	background-color: #FD7940;
	width:200px;
	height:35px;
	border-width:0; 
	
}

.r-content button[type="submit"]:hover {
	background-color: #F1920C;
}

.r-content button[type="submit"].disabled {
	background-color: #ccc;
}