{
    "compiler": false,
    "name": "EnergyFe",
    "version": "0.0.1",
    "dependencies": {},
    "alias": {},
    "export": [
        "styles/common.css",
    	
    	"styles/index.css",
    	
    	"styles/newsList.css",
        "styles/newsInsert.css",
        "styles/docInsert.css",
    	"styles/newsContent.css",
    	
    	"styles/ourProject.css",
    	"styles/finance.css",
    	"styles/manage.css",
    	
    	"styles/company.css",
    	"styles/team.css",
    	"styles/contact.css",
    	"styles/joinUs.css",

        "styles/x-common.css",

        "styles/login.css",
        "styles/loginsus.css",
        "styles/forgetpassword.css",
        "styles/forgetpassmodify.css",
        "styles/forgetpassprompt.css",
        "styles/loginsusprompt.css",
        "styles/register.css",
        "styles/protocol.css",
        "styles/validate_fail.css",

        "styles/pp-contractProject.css",
        "styles/pp-agreementProject.css",
        "styles/pp-awaitingAssessment.css",
        "styles/pp-projectInfoNew.css",
        "styles/pp-projectInfoView.css",
        "styles/pp-myInformation.css",
        "styles/pp-securitycenter.css",

        "styles/pi-projectInfoView.css",
    	"styles/PIinvestmentProject.css",
    	"styles/PIrecommendedProject.css",
        "styles/pi-myInformation.css",
        "styles/pi-securitycenter.css",

        "styles/is-search.css",
        "styles/is-projectInfo.css",
        "styles/is-providerInfo.css",
        "styles/is-intent.css",
        "styles/is-dueDiligence.css",
        "styles/is-pushProject.css",
        "styles/is-securitycenter.css",
        
        "scripts/common.js",
        {
            "path": "scripts/lib/amazeui.min.js",
            "no_version": true
        },
    	
    	"scripts/index.js",
    	
        "scripts/newsList.js",
    	"scripts/newsInsert.js",
        "scripts/newsDelete.js",
    	"scripts/newsContent.js",
    	"scripts/docList.js",
        "scripts/docInsert.js",
        "scripts/docDelete.js",
    	
    	"scripts/ourProject.js",
    	"scripts/finance.js",
    	"scripts/manage.js",
    	
    	"scripts/company.js",
    	"scripts/team.js",
    	"scripts/contact.js",
    	"scripts/joinUs.js",

        "scripts/x-common.js",

        "scripts/login.js",
        "scripts/loginsus.js",
        "scripts/loginsusprompt.js",
        "scripts/forgetpassword.js",
        "scripts/forgetpassmodify.js",
        "scripts/forgetpassprompt.js",
        "scripts/register.js", 
        "scripts/protocol.js",

        "scripts/pi-recommendedProject.js",
        "scripts/pi-investmentProject.js",
        "scripts/pi-myInformation.js",
        "scripts/pi-securitycenter.js",
	
    	"scripts/pp-contractProject.js",
        "scripts/pp-agreementProject.js",
        "scripts/pp-awaitingAssessment.js",
        "scripts/pp-projectInfoNew.js",
        "scripts/pp-projectInfoView.js",
        "scripts/pp-myInformation.js",
        "scripts/pp-securitycenter.js",
        
        "scripts/is-search.js",
        "scripts/is-projectInfo.js",
        "scripts/is-providerInfo.js",
        "scripts/is-dueDiligence.js",
        "scripts/is-intent.js",
        "scripts/is-securitycenter.js",
        "scripts/is-pushProject.js",

        {
            "path": "scripts/Admin/jquery.min.js",
            "no_version": true
        },
        {
            "path": "scripts/Admin/admin/admin_login.js",
            "no_version": true
        },
        {
            "path": "scripts/Admin/bootstrap.min.js",
            "no_version": true
        },
        {
            "path": "scripts/Admin/select2.min.js",
            "no_version": true
        },
        {
            "path": "scripts/Admin/jquery.dataTables.min.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/jquery.gritter.min.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/jquery.peity.min.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/jquery.ui.custom.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/jquery.uniform.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/select2.min.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/matrix.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/matrix.tables.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/matrix.interface.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/matrix.popover.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/admin/admin_inner_staff.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/admin/admin_change_pwd.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/admin/admin_investor.js",
            "no_version": true
        },
    	{
            "path": "scripts/Admin/admin/admin_provider.js",
            "no_version": true
        },
        {
            "path": "scripts/Admin/admin/admin_project.js",
            "no_version": true
        },
	    
        {
            "path": "styles/Admin/bootstrap.min.css",
            "no_version": true
        },
        {
            "path": "styles/Admin/bootstrap-responsive.min.css",
            "no_version": true
        },
        {
            "path": "styles/Admin/matrix-login.css",
            "no_version": true
        },
        {
            "path": "styles/Admin/css/font-awesome.css",
            "no_version": true
        },
    	{
            "path": "styles/Admin/bootstrap-wysihtml5.css",
            "no_version": true
        },
    	{
            "path": "styles/Admin/colorpicker.css",
            "no_version": true
        },
    	{
            "path": "styles/Admin/datepicker.css",
            "no_version": true
        },
    	{
            "path": "styles/Admin/fullcalendar.css",
            "no_version": true
        },
    	{
            "path": "styles/Admin/jquery.gritter.css",
            "no_version": true
        },
    	{
            "path": "styles/Admin/matrix-media.css",
            "no_version": true
        },
    	{
            "path": "styles/Admin/matrix-style.css",
            "no_version": true
        },
    	{
            "path": "styles/Admin/select2.css",
            "no_version": true
        },
    	{
            "path": "styles/Admin/uniform.css",
            "no_version": true
        }
    ]
}