{
    "compiler": false,
    "name": "EnergyFe",
    "version": "0.0.1",
    "dependencies": {},
    "alias": {},
    "export": [
    	"styles/common.css",
    	
    	"styles/index.css",
    	
    	"styles/newsList.css",
        "styles/newsInsert.css",
    	"styles/newsContent.css",
    	
    	"styles/ourProject.css",
    	"styles/finance.css",
    	"styles/manage.css",
    	
    	"styles/company.css",
    	"styles/team.css",
    	"styles/contact.css",
    	"styles/joinUs.css",

        "styles/login.css",
    	
        "scripts/common.js",
        {
            "path": "scripts/lib/amazeui.min.js",
            "no_version": true
        },
    	
    	"scripts/index.js",
    	
        "scripts/newsList.js",
    	"scripts/newsInsert.js",
        "scripts/newsDelete.js",
    	"scripts/newsContent.js",
    	"scripts/docList.js",
        "scripts/docInsert.js",
        "scripts/docDelete.js",
    	
    	"scripts/ourProject.js",
    	"scripts/finance.js",
    	"scripts/manage.js",
    	
    	"scripts/company.js",
    	"scripts/team.js",
    	"scripts/contact.js",
    	"scripts/joinUs.js",

        "scripts/login.js"
    ]
}