<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Investment Management</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/manage@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/manage.css.ver';</php>.css">
</head>

<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/header_en.html';</php>
	<div class="material_Contentbox" id="ec" style="width: 970px;">
		<!-- 左侧导航栏 -->
		<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/OurMode/OurMode_left_en.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="hd">
				<p class="subtopic en">Investment Management</p>
			</div>
			<div class="bd">
				<div>
					<p class="subtext1">Based on ENF information management platform, we manage the investment of Photovoltaic projects, including feasibility study, due diligence, design evaluation, equipment supervision, construction supervision, acceptance inspection, post-construction monitoring and market value management.</p>
				</div>
				<div>
					<img class="subtextimg" src="/EnergyFe/img/IM1.jpg">
					<p class="subtext2">Project Information Input Platform</p>				
					<p class="subtext3">Based on our industry channels, partners and O2O internet channel, the Project Information Input Platform collects basic information of projects seeking finance,  making procedures for PV project development. </p>
				</div>
				<div>
					<img class="subtextimg" src="/EnergyFe/img/IM2.jpg">
					<p class="subtext2">Evaluation Platform</p>				
					<p class="subtext3">The Evaluation Platform evaluates the economic and technical parameters of each project, and then grade the project from AAA to CCC, which is robust and professional to manage the investment risks.</p>
				</div>
				<div>
					<img class="subtextimg" src="/EnergyFe/img/IM3.jpg">
					<p class="subtext2">Asset Management Platform</p>				
					<p class="subtext3">The Asset management Platform, made up of monitoring system and operation & maintenance system, is to carry out asset management after the projects are matched with finance.</p>	
				</div>
				<div>
					<img class="subtextimg" src="/EnergyFe/img/IM4.jpg">
					<p class="subtext2">Trading Platform</p>				
					<p class="subtext3">The Trading Platform will meet the needs of institutional financers and provide standardized Photovoltaic investment products by Internet Finance.</p>															
				</div>
				<div class="pager"></div>
			</div>
		</div>
	</div>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer_en.html';</php>
	
	<script src="/EnergyFe/prd/scripts/common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/manage@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/manage.js.ver';</php>.js"></script>
</body>
</html>
