<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>投资管理</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/manage@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/manage.css.ver';</php>.css">
</head>

<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/header.html';</php>
	<div class="material_Contentbox" id="ec">
		<!-- 左侧导航栏 -->
		<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/OurMode/OurMode_left.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="hd">
				<p class="subtopic cn">投资管理</p>
				<p class="subtopic en">Investment Management</p>
			</div>
			<div class="bd">
				<div>
					<p class="subtext1">基于能融网信息管理平台，对项目进行完善的投资管理。包括可行性研究、尽职调查、设计评审、设备监造、工程监理、完工验收、时实监测、运行维护和市值管理。</p>
				</div>
				<div>
					<img class="subtextimg" src="/EnergyFe/img/IM1.jpg">
					<p class="subtext2">项目开发平台</p>				
					<p class="subtext3">依托传统光伏行业渠道、合作伙伴以及O2O 模式的互联网渠道规模性开发具有良好经济型、可进行市场化投资的优质光伏项目。</p>
				</div>
				<div>
					<img class="subtextimg" src="/EnergyFe/img/IM2.jpg">
					<p class="subtext2">评级评估平台</p>				
					<p class="subtext3">依靠团队开发的专有方法学，通过IT管理系统、数据库对光伏生产、建设、运维进行全流程监控，向金融机构提供评价和评级报告。</p>
				</div>
				<div>
					<img class="subtextimg" src="/EnergyFe/img/IM3.jpg">
					<p class="subtext2">资产管理平台</p>				
					<p class="subtext3">提供基于智能监控和云计算的智能运维管理系统，为金融机构投资分布式电站提供第三方资产管理服务。</p>	
				</div>
				<div>
					<img class="subtextimg" src="/EnergyFe/img/IM4.jpg">
					<p class="subtext2">电站交易平台</p>				
					<p class="subtext3">初期面向机构投资者，根据评级结果提供标准化光伏投资产品，并不断推动互联网金融创新，将项目标的和投资产品不断扩展。</p>															
				</div>
				<div class="pager"></div>
			</div>
		</div>
	</div>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	
	<script src="/EnergyFe/prd/scripts/common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/manage@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/manage.js.ver';</php>.js"></script>
</body>
</html>
