<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>项目库</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/ourProject@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/ourProject.css.ver';</php>.css">
</head>

<body>
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/header.html';</php>
	<div class="material_Contentbox" id="nav2">
		<!-- 左侧导航栏 -->
		<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/OurMode/OurMode_left.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="hd">
				<p class="subtopic cn">项目库</p>
				<p class="subtopic en">Project Pool</p>
			</div>
			<div class="bd">
				<div style="overflow: hidden;">
				<img id="subtextimg1" src="/EnergyFe/img/EC1.jpg" width="250px" height="180px">
				<p class="subtext1">“能融网”团队基于行业经验和网络，已经建立了国内大规模、数据齐备的光伏电站项目库。包括已经建成的并网大型地面电站项目、分布式电站项目以及待建电站项目。</p>
				</div>
				<div style="overflow: hidden;">
				<p class="subtext2">基于国际同步的项目评价方法，技术、财务、法律、政策等全方位项目甄别与评级流程，专业分析尽职调查团队和专业数据库，建立覆盖全国的项目征集渠道，依托自主开发项目信息管理系统，管理新能源资产。</p>
				<img id="subtextimg2" src="/EnergyFe/img/EC2.jpg" width="250px" height="180px">
				</div>
				<div style="overflow: hidden;">
				<img id="subtextimg3" style="margin-top: 1rem;" src="/EnergyFe/img/EC3.jpg" width="250px" height="180px">
				<p class="subtext3"style="margin-top: 2rem;text-indent: 18px;">以光伏项目为核心，向新能源其他产业延伸，包括充电站、储能系统、微电网等 。聚焦以“分布式光伏”为核心的新能源行业，进行专业化的资源整合，构造资产包，为投资人实现有竞争力的稳定回报，也为“能源互联网”模式的落地和实践打造扎实的基础。</p>
				</div>
			</div>
		</div>
	</div>
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/sub_footer.html';</php>
	
	<script src="/EnergyFe/prd/scripts/common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/ourProject@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/ourProject.js.ver';</php>.js"></script>
</body>
</html>
