<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Project Pool</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/ourProject@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/ourProject.css.ver';</php>.css">
</head>

<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/header_en.html';</php>
	<div class="material_Contentbox" id="nav2" style="width: 970px;">
		<!-- 左侧导航栏 -->
		<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/OurMode/OurMode_left_en.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="hd">
				<p class="subtopic en">Project Pool</p>
			</div>
			<div class="bd">
				<div style="overflow: hidden;">
				<img id="subtextimg1" src="/EnergyFe/img/EC1.jpg" width="250px" height="180px">
				<p class="subtext1">Based on our insight and industrial network, ENF already built up a large PV project pool, including ground projects, distributed projects and  projects in preparation.</p>
				</div>
				<div style="overflow: hidden;">
				<p class="subtext2">Through using latest international project evaluation method, we assess the projects in technology, finance, accounting, law and policy. The potential projects are selected to meet the investment  expectation.</p>
				<img id="subtextimg2" src="/EnergyFe/img/EC2.jpg" width="250px" height="180px">
				</div>
				<div style="overflow: hidden;">
				<img id="subtextimg3" style="margin-top: 1rem;" src="/EnergyFe/img/EC3.jpg" width="250px" height="180px">
				<p class="subtext3"style="margin-top: 2rem;text-indent: 18px;">We will extend business from solar PV to other types of energy consuming sectors including electric vehicle charging, energy saving and micro grid. While focusing on distributed energy, we pack new energy assets and provide competitive profit for investors with energy internet method.</p>
				</div>
			</div>
		</div>
	</div>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer_en.html';</php>
	
	<script src="/EnergyFe/prd/scripts/common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/ourProject@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/ourProject.js.ver';</php>.js"></script>
</body>
</html>
