<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>未建-地面</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/projectInfo@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/projectInfo.css.ver';</php>.css">
<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/erqi/header.html';</php>

	<div class="main clrfix">
		<!-- 左侧导航栏 -->
		<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/InnerStaff/InnerStaff_left.html';</php>
		<!-- 右侧布局 -->
		<div class="r-content">
			<ul class="detail part1">
				<li class="clrfix">
					<span class="lb">项目类型：</span>
					<span class="lbw">未建地面分布式</span>
				</li>
				<li class="clrfix">
					<span class="lb">项目地点：</span>
					<span class="lbw">黑龙江省哈尔滨市南岗区依兰县</span>
				</li>
				<li class="clrfix">
					<span class="lb">项目图片：</span>
					<div class="item">
						<div class="demo">
							<a target="_blank" href="/EnergyFe/img/demo1.jpg"><img src="/EnergyFe/img/demo1.jpg" style="width:110px;height:72px;" /></a>
							<p>屋顶全景图</p>
						</div>
						<div class="demo">
							<a target="_blank" href="/EnergyFe/img/demo2.jpg"><img src="/EnergyFe/img/demo2.jpg" src="" style="width:100px;height:72px;" /></a>
							<p>屋顶正南向照片</p>
						</div>
						<div class="demo">
							<a target="_blank" href="/EnergyFe/img/demo3.jpg"><img src="/EnergyFe/img/demo3.jpg" src="" style="width:139px;height:72px;" /></a>
							<p>彩钢瓦具体结构</p>
						</div>
					</div>
				</li>
			</ul>

			<p class="title notall housetop_nonBuild_item housetop_build_item">屋顶业主信息</p>
			<ul class="detail part2 notall housetop_nonBuild_item housetop_build_item">
				<li>
					<span class="lb">屋顶业主名称</span>
					<span class="lbw">XXX</span>
				</li>
				<li>
					<span class="lb">企业类型</span>
					<span class="lbw">国企（上市公司）</span>
				</li>
				<li>
					<span class="lb">注册资本金</span>
					<span class="lbw">XXX万元</span>
				</li>
				<li>
					<span class="lb">屋顶产权证明</span>
					<span class="lbw">下载</span>
				</li>
				<li>
					<span class="lb">年用电量</span>
					<span class="lbw">XXX万度</span>
				</li>
				<li>
					<span class="lb">电费</span>
					<span class="lbw">XXX万元</span>
				</li>
				<li>
					<span class="lb">电费单（最近一年）</span>
					<span class="lbw">下载</span>
				</li>
			</ul>

			<p class="title notall housetop_nonBuild_item housetop_build_item">屋顶情况</p>
			<ul class="detail part2 notall housetop_nonBuild_item housetop_build_item">
				<li>
					<span class="lb">屋顶类型</span>
					<span class="lbw">混凝土</span>
				</li>
				<li>
					<span class="lb">屋顶面积</span>
					<span class="lbw">XXXm2</span>
				</li>
				<li>
					<span class="lb">屋顶使用寿命</span>
					<span class="lbw">XXX年</span>
				</li>
				<li>
					<span class="lb">屋顶朝向</span>
					<span class="lbw">南北向</span>
				</li>
			</ul>

			<p class="title">电网接入</p>
			<ul class="detail part2">
				<li>
					<span class="lb">上级变压器容量</span>
					<span class="lbw">XXXkVA</span>
				</li>
				<li>
					<span class="lb">并网电压等级</span>
					<span class="lbw">XXXkV</span>
				</li>
				<li>
					<span class="lb">并网方式</span>
					<span class="lbw">自发自用</span>
				</li>
			</ul>

			<p class="title">项目情况</p>
			<ul class="detail part2">
				<li>
					<span class="lb">拟建设容量</span>
					<span class="lbw">XXXkW</span>
				</li>
				<li>
					<span class="lb">与能融网合作方式</span>
					<span class="lbw">EPC</span>
				</li>
				<li>
					<span class="lb">拟融资金额</span>
					<span class="lbw">XXX万元</span>
				</li>
				<li>
					<span class="lb">融资方式</span>
					<span class="lbw">股权融资</span>
				</li>
			</ul>

			<p class="title">项目文件</p>
			<ul class="detail part2">
				<li>
					<span class="lb">项目备案</span>
					<span class="lbw">下载</span>
				</li>
				<li>
					<span class="lb">电网接入备案</span>
					<span class="lbw">下载</span>
				</li>
				<li>
					<span class="lb">房屋租赁协议</span>
					<span class="lbw">下载</span>
				</li>
				<li>
					<span class="lb">租赁年限</span>
					<span class="lbw">XXX</span>
				</li>
				<li>
					<span class="lb">租赁租金</span>
					<span class="lbw">XXX元/年</span>
				</li>
				<li>
					<span class="lb">合同能源管理协议</span>
					<span class="lbw">下载</span>
				</li>
				<li>
					<span class="lb">电价结算方式</span>
					<span class="lbw">XXX</span>
				</li>
				<li>
					<span class="lb">结算电价</span>
					<span class="lbw">XXX</span>
				</li>
				<li>
					<span class="lb">项目建议书</span>
					<span class="lbw">无</span>
				</li>
				<li>
					<span class="lb">屋顶载荷证明</span>
					<span class="lbw">无</span>
				</li>
			</ul>
		</div>
	</div>

	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	<!-- 子页面footer:关于我们，联系方式 -->
	
	<script src="/EnergyFe/prd/scripts/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/x-common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/projectInfo@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/projectInfo.js.ver';</php>.js"></script>
</body>
</html>
