<div class="l-nav">
	<a class="back" href="?c=InnerStaff&a=search">&lt;返回上级</a>
	<dl>
		<dd class="projectInfo"><a href="?c=InnerStaff&a=projectInfo">项目信息</a></dd>
		<dd class="signedIntent"><a href="?c=InnerStaff&a=getProjectProviderInfo">项目提供方信息</a></dd>
		<dd class="intent"><a href="?c=InnerStaff&a=intent">意向书</a></dd>
		<dd class="dueDiligence"><a href="?c=InnerStaff&a=dueDiligence">尽职调查</a></dd>
		<dd class="securityCenter"><a href="?c=InnerStaff&a=securityCenter">推送项目</a></dd>
	</dl>
</div>