<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>未建-地面</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/is-projectInfo@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/is-projectInfo.css.ver';</php>.css">
<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/erqi/header.html';</php>

	<div class="main clrfix">
		<!-- 左侧导航栏 -->
		<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/InnerStaff/InnerStaff_left.html';</php>
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="remark"> 
				<textarea id="commenttex" cols="20"></textarea>
				<button id="commentbtn" type="submit">保存</button>
			</div>
			<ul class="detail part1">
				<li class="clrfix">
					<span class="lb">项目类型：</span>
					<span class="lbw">{$data['projectInfo']['typeStr']}</span>
				</li>
				<li class="clrfix">
					<span class="lb">项目地点：</span>
					<span class="lbw">{$data['projectInfo']['areaStr']}</span>
				</li>
				<li class="clrfix">
					<span class="lb">项目图片：</span>
					<div class="item">
						<div class="img-ct">
							<a target="_blank" href="{$data['projectInfo']['picture_full']['url']}"><img src="{$data['projectInfo']['picture_full']['url']}" style="width:120px;height:120px;" /></a>
							<p>场地情况全景图</p>
						</div>
						<div class="img-ct">
							<a target="_blank" href="{$data['projectInfo']['picture_field']['url']}"><img src="{$data['projectInfo']['picture_field']['url']}" style="width:120px;height:120px;" /></a>
							<p>场平照片</p>
						</div>
						<div class="img-ct">
							<a target="_blank" href="{$data['projectInfo']['picture_transformer']['url']}"><img src="{$data['projectInfo']['picture_transformer']['url']}" style="width:120px;height:120px;" /></a>
							<p>变电站照片</p>
						</div>
						<foreach name="data.projectInfo.picture_mul" item="vo" key="k" >
						<div class="img-ct">
							<div class="preview" style="width:120px;height:120px;">
								<a target="_blank" href="{$vo['url']}">
									<img src="{$vo['url']}" alt="{$vo['name']}" style="width:120px;height:120px;" />
								</a>
							</div>
							<p title="{$vo['name']}">{$vo['name']}</p>
						</div>
						</foreach>
					</div>
				</li>
			</ul>

			<p class="title">土地情况</p>
			<ul class="detail part2">
				<li>
					<span class="lb">土地性质</span>
					<span class="lbw">{$data['projectInfo']['groundProperty']}</span>
				</li>
				<li>
					<span class="lb">租赁土地面积</span>
					<span class="lbw">{$data['projectInfo']['ground_area']}m2</span>
				</li>
				<li>
					<span class="lb">租赁年限</span>
					<span class="lbw">{$data['projectInfo']['rent_time']}年</span>
				</li>
				<li>
					<span class="lb">租赁资金</span>
					<span class="lbw">{$data['projectInfo']['rent_pay']}元/年</span>
				</li>
				<li>
					<span class="lb">土地平整情况</span>
					<span class="lbw">{$data['projectInfo']['groundCondition']}</span>
				</li>
			</ul>

			<p class="title">电网接入</p>
			<ul class="detail part2">
				<li>
					<span class="lb">上级变压器容量</span>
					<span class="lbw">{$data['projectInfo']['transformer_capacity']}kVA</span>
				</li>
				<li>
					<span class="lb">并网电压等级</span>
					<span class="lbw">{$data['projectInfo']['voltage_level']}kV</span>
				</li>
				<li>
					<span class="lb">电网接入点距离</span>
					<span class="lbw">{$data['projectInfo']['electricity_distance']}m</span>
				</li>
				<li>
					<span class="lb">计量点</span>
					<span class="lbw">{$data['projectInfo']['measurePoint']}</span>
				</li>
			</ul>

			<p class="title">项目情况</p>
			<ul class="detail part2">
				<li>
					<span class="lb">拟建设容量</span>
					<span class="lbw">{$data['projectInfo']['plan_build_volume']}kW</span>
				</li>
				<li>
					<span class="lb">项目支架类型</span>
					<span class="lbw">{$data['projectInfo']['projectHolderType']}</span>
				</li>
				<li>
					<span class="lb">项目类型</span>
					<span class="lbw">{$data['projectInfo']['groundProjectType']}</span>
				</li>
				<li>
					<span class="lb">与能融网合作方式（可多选）</span>
					<span class="lbw">{$data['projectInfo']['cooperation_type']}</span>
				</li>
				<li>
					<span class="lb">拟融资金额</span>
					<span class="lbw">{$data['projectInfo']['plan_financing']}万元</span>
				</li>
				<li>
					<span class="lb">融资方式</span>
					<span class="lbw">{$data['projectInfo']['financingType']}</span>
				</li>
			</ul>

			<p class="title">项目文件</p>
			<ul class="detail part2">
				<li>
					<span class="lb">项目备案</span>
					<?php if($data['projectInfo']['project_backup']){ ?><span class="fname">{$data['projectInfo']['project_backup']['name']}<a class="download" href="{$data['projectInfo']['project_backup']['url']}">下载</a></span><?php }
						else{ ?><span class="lbw">无</span><?php } ?>
				</li>
				<li>
					<span class="lb">电网接入批复</span>
					<?php if($data['projectInfo']['electricity_backup']){ ?><span class="fname">{$data['projectInfo']['electricity_backup']['name']}<a class="download" href="{$data['projectInfo']['electricity_backup']['url']}">下载</a></span><?php }
						else{ ?><span class="lbw">无</span><?php } ?>
				</li>
				<li>
					<span class="lb">土地租赁协议</span>
					<?php if($data['projectInfo']['ground_rent_agreement']){ ?><span class="fname">{$data['projectInfo']['ground_rent_agreement']['name']}<a class="download" href="{$data['projectInfo']['ground_rent_agreement']['url']}">下载</a></span><?php }
						else{ ?><span class="lbw">无</span><?php } ?>
				</li>
				<li>
					<span class="lb">土地预审意见</span>
					<?php if($data['projectInfo']['ground_opinion']){ ?><span class="fname">{$data['projectInfo']['ground_opinion']['name']}<a class="download" href="{$data['projectInfo']['ground_opinion']['url']}">下载</a></span><?php }
						else{ ?><span class="lbw">无</span><?php } ?>
				</li>
				<li>
					<span class="lb">项目可研报告</span>
					<?php if($data['projectInfo']['project_proposal']){ ?><span class="fname">{$data['projectInfo']['project_proposal']['name']}<a class="download" href="{$data['projectInfo']['project_proposal']['url']}">下载</a></span><?php }
						else{ ?><span class="lbw">无</span><?php } ?>
				</li>
				<li>
					<span class="lb">环评</span>
					<?php if($data['projectInfo']['environment_assessment']){ ?><span class="fname">{$data['projectInfo']['environment_assessment']['name']}<a class="download" href="{$data['projectInfo']['environment_assessment']['url']}">下载</a></span><?php }
						else{ ?><span class="lbw">无</span><?php } ?>
				<li>
			</ul>
		</div>
	</div>

	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	<!-- 子页面footer:关于我们，联系方式 -->
	
	<script src="/EnergyFe/prd/scripts/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/x-common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/projectInfo@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/projectInfo.js.ver';</php>.js"></script>
</body>
</html>
