<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>综合查询</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/is-search@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/is-search.css.ver';</php>.css">
<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/erqi/header.html';</php>

	<div class="main clrfix">

		<form id="searchForm" class="search" method="GET">
			<p class="title">综合查询</p>
			<input type="hidden" name="c" value="InnerStaff" />
			<input type="hidden" name="a" value="search" />
			<div class="condition">
				<div>
					<span>公司名称</span>
					<select name="company_name">
						<option value="all">全部</option>
						<option value="aa">aa公司</option>
					</select>
				</div>
				<div>
					<span>项目类型</span>
					<select name="project_type">
		          		<option value="all">全部</option>
		          		<option value="housetop_nonBuild">屋顶分布式－未建</option>
		          		<option value="ground_nonBuild">地面分布式－未建</option>
		          		<option value="bigground_nonBuild">大型地面－未建</option>
		          		<option value="housetop_build">屋顶分布式－已建</option>
		          		<option value="ground_build">地面分布式－已建</option>
		         		<option value="bigground_build">大型地面－已建</option>
			        </select>
				</div>
				<div>
					<span>位置</span>
					<select name="province" data-code="{$data['province']}">
					</select>
				</div>
				<div>
					<span>提交时间</span>
					<input data-type="date" />至<input data-type="date" />
				</div>
				<div>
					<span>项目状态</span>
					<select name="status">
			       		<option value="全部">全部</option>
			          	<option value="未提交">未提交</option>
			          	<option value="已提交">已提交</option>
			          	<option value="已尽职调查">已尽职调查</option>
			          	<option value="已签意向书">已签意向书</option>
			          	<option value="已签融资合同">已签融资合同</option>
			        </select>
				</div>
				<div>
					<span>与能融网合作方式</span>
					<select name="cooperation_type">
			          	<option value="全部">全部</option>
			          	<option value="EPC">EPC</option>
			          	<option value="申请融资">申请融资</option>
			          	<option value="推介项目">推介项目</option>
        			</select>
				</div>
			</div>
			<div class="operator">
				<input data-optype="save" type="submit" value="查询">
				<input data-optype="submit" type="reset" value="重置" class="last">
			</div>
		</form>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="list">
				<div class="hd">
					<p class="c0">项目编号</p>
					<p class="c1">项目类型</p>
					<p class="c2">位置</p>
					<p class="c3">创建日期</p>
					<p class="c4">状态</p>
					<p class="c5">操作</p>
				</div>
				<div class="bd">
					<foreach name="arrData.list" item="project">
						<div class="<if condition="$project[status] eq 13 && $project[highlight_flag] eq 1">new</if>">
							<p class="c0"><a data-id="{$project[project_code]}" 
							data-idm="{$project[m_project_code]}" data-status="{$project[status]}" href="javascript:;">{$project[project_code]}</a></p>
							<p class="c1">{$project[type]}</p>
							<p class="c2">{$project[area]}</p>
							<p class="c3">{$project[create_date]}</p>
							<p class="c4">{$project[statusStr]}</p>
							<p><button>更改项目状态</button></p>
						</div>
					</foreach>
				</div>
			</div>
			<div class="pager">
				<span data-page-index="1" href="#">首页</span>
                    <for start="1" end="$arrData.totalPage">
                        <if condition="$arrData.page eq $i">
							<span data-page-index="{$i}" class="active">{$i}</span>
                        <else/>
							<span data-page-index="{$i}">{$i}</span>
                        </if>
                    </for>
					<span data-page-index="{$arrData.endPage}" href="#">尾页</span>
			</div>
		</div>
	</div>

	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	
	<script src="/EnergyFe/prd/scripts/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/x-common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/is-search@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/is-search.js.ver';</php>.js"></script>
</body>
</html>