<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>修改密码</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/ISsecuritycenter@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/styles/ISsecuritycenter.css.ver';</php>.css">
<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/erqi/header.html';</php>
	<!-- 二期页面header -->

	<div class="main clrfix">
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<p class="title">密码管理</p>
			<div class="md">
				<p id="warning" style="visibility: hidden;"></p>
				<ul>	
					<li><span class="lb">原密码</span><input id="oldpassinput" name="oldpass" type="password"/></li>
					<li><span class="lb">新密码</span><input id="newpassinput" name="newpass" type="password"/></li>
					<li><span class="lb">确认密码</span><input id="repeatpassinput" name="repeatpass" type="password"/></li>
				</ul>
			</div>
			<div class="button">
				<button id="changebtn" type="submit";>确认修改</button>
			</div>
		</div>
		
	</div>

	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	<!-- 子页面footer:关于我们，联系方式 -->
	
	<script src="/EnergyFe/prd/scripts/x-common@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/x-common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/ISsecuritycenter@<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/ver/scripts/ISsecuritycenter.js.ver';</php>.js"></script>
</body>
</html>
