<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>已签融资合同项目</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/pp-contractProject@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/pp-contractProject.css.ver';</php>.css">
<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/erqi/header.html';</php>

	<div class="main clrfix">
		<!-- 左侧导航栏 -->
		<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ProjectProvider/ProjectProvider_left.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="list">
				<div class="hd">
					<p class="c0">项目编号</p>
					<p class="c1">项目类型</p>
					<p class="c2">位置</p>
					<p class="c3">创建日期</p>
					<p class="c4">状态</p>
				</div>
				<div class="bd">
					<foreach name="arrData.list" item="project">
						<if condition="$project[status] eq 32 && $project[highlight_flag] eq 1">
							<div class="new">
							<p class="c0"><a href="javascript:;">{$project[project_code]}</a></p>
							<p class="c1">{$project[type]}</p>
							<p class="c2">{$project[area]}</p>
							<p class="c3">{$project[create_date]}</p>
							<p class="c4">{$project[statusStr]}</p>
							</div>
						<else /> 
							<div>
							<p class="c0"><a href="javascript:;">{$project[project_code]}</a></p>
							<p class="c1">{$project[type]}</p>
							<p class="c2">{$project[area]}</p>
							<p class="c3">{$project[create_date]}</p>
							<p class="c4">{$project[statusStr]}</p>
						</div>
						</if>
						
					</foreach>
					<div class="pager">
					<span data-page-index="1" href="#">首页</span>
                    <for start="1" end="$arrData.totalPage">
                        <if condition="$arrData.page eq $i">
							<span data-page-index="{$i}" class="active">{$i}</span>
                        <else/>
							<span data-page-index="{$i}">{$i}</span>
                        </if>
                    </for>
					<span data-page-index="{$arrData.endPage}" href="#">尾页</span>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	
	<script src="/EnergyFe/prd/scripts/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/x-common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/pp-contractProject@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/pp-contractProject.js.ver';</php>.js"></script>
</body>
</html>
