<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>我的资料</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/pp-myInformation@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/pp-myInformation.css.ver';</php>.css">
<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/erqi/header.html';</php>

	<div class="main clrfix">
		<!-- 左侧导航栏 -->
		<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ProjectProvider/ProjectProvider_left.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<p class="state">当前账户：{$data['status'] == 1?'已激活':'未激活'}</p>
			<form id="infoForm" action="?c=ProjectProviderMyInfo&a=myInformation&rtype=1" method="post">
				<p class="title">账户详细信息</p>
				<div class="detail part1 clrfix">
					<ul>
						<li><span class="lb">E-mail</span>{$data['email']}</li>
						<li><span class="lb">联系人</span><input name="company_contacts" value="{$data['company_contacts']}"/></li>
						<li><span class="lb">联系人手机</span><input name="company_contacts_phone" value="{$data['company_contacts_phone']}"/></li>
						<li class="area"><span class="lb">所在地区</span>
							<select name="province" class="first" data-code="{$data['province']}">
								<option value="">选择省</option>
							</select>省
							<select name="city" data-code="{$data['city']}">
								<option value="">选择市</option>
							</select>市
							<select name="county" data-code="{$data['county']}">
								<option value="">选择区</option>
							</select>区
						</li>
						<li><span class="lb">详细地址</span><input name="company_address" value="{$data['company_address']}"/></li>
						<li><span class="lb">企业注册资本</span><input name="company_capital" value="{$data['company_capital']}"/>&nbsp;万</li>
					</ul>
					<ul>
						<li><span class="lb">企业名称</span><input name="company_name" value="{$data['company_name']}"/></li>
						<li><span class="lb">企业类型</span>
							<select name="company_type">
								<option value="1" {$data['company_type'] == 1?'selected':''}>央企国企</option>
								<option value="2" {$data['company_type'] == 2?'selected':''}>中外合资</option>
								<option value="3" {$data['company_type'] == 3?'selected':''}>外商独资</option>
								<option value="4" {$data['company_type'] == 4?'selected':''}>大型民营</option>
								<option value="5" {$data['company_type'] == 5?'selected':''}>小型民营</option>
							</select>
						</li>
						<li><span class="lb">公司传真</span><input name="company_fax" value="{$data['company_fax']}"/></li>
						<li><span class="lb">其他手机</span><input name="company_telephone" value="{$data['company_telephone']}"/></li>
						<li><span class="lb">座机</span><input name="company_phone" value="{$data['company_phone']}"/></li>
						<li><span class="lb">企业法人</span><input name="company_person" value="{$data['company_person']}"/></li>
					</ul>
				</div>
				<p class="title">图片资料上传</p>
				<div class="detail part2 clrfix">
					<div class="item">
						<p>公司营业执照</p>
						<input type="file" accept="image/gif,image/jpeg,image/png" name="business_license" style="visibility: hidden;" data-url="{$data['business_license']['url']}" data-name="{$data['business_license']['name']}" data-id="{$data['business_license']['id']}" />
					</div>
					<div class="item">
						<p>组织机构代码证</p>
						<input type="file" accept="image/gif,image/jpeg,image/png" name="organization_code" style="visibility: hidden;" data-url="{$data['organization_code']['url']}" data-name="{$data['organization_code']['name']}" data-id="{$data['organization_code']['id']}" />
					</div>
					<div class="item">
						<p>国税登记证</p>
						<input type="file" accept="image/gif,image/jpeg,image/png" name="national_tax_certificate" style="visibility: hidden;" data-url="{$data['national_tax_certificate']['url']}" data-name="{$data['national_tax_certificate']['name']}" data-id="{$data['national_tax_certificate']['id']}" />
					</div>
					<div class="item">
						<p>地税登记证</p>
						<input type="file" accept="image/gif,image/jpeg,image/png" name="local_tax_certificate" style="visibility: hidden;" data-url="{$data['local_tax_certificate']['url']}" data-name="{$data['local_tax_certificate']['name']}" data-id="{$data['local_tax_certificate']['id']}" />
					</div>
					<div class="item">
						<p>法人身份证正面</p>
						<input type="file" accept="image/gif,image/jpeg,image/png" name="identity_card_front" style="visibility: hidden;" data-url="{$data['identity_card_front']['url']}" data-name="{$data['identity_card_front']['name']}" data-id="{$data['identity_card_front']['id']}" />
					</div>
					<div class="item">
						<p>法人身份证反面</p>
						<input type="file" accept="image/gif,image/jpeg,image/png" name="identity_card_back" style="visibility: hidden;" data-url="{$data['identity_card_back']['url']}"  data-name="{$data['identity_card_back']['name']}" data-id="{$data['identity_card_back']['id']}" />
					</div>
					<div class="finance clrfix"><p>财务审计报告</p><input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="financial_audit" style="visibility: hidden;" data-url="{$data['financial_audit']['url']}" data-name="{$data['financial_audit']['name']}" data-id="{$data['financial_audit']['id']}" /></div>
				</div>
				<input id="submit" type="submit" value="保存" />
			</form>
		</div>
	</div>

	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	
	<script src="/EnergyFe/prd/scripts/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/x-common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/pp-myInformation@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/pp-myInformation.js.ver';</php>.js"></script>
</body>
</html>
