<div class="l-nav">
	<dl>
		<dt>项目管理</dt>
		<dd class="awaitingAssessment"><a href="?c=ProjectProviderMyPro&a=awaitingAssessment">待评估项目</a></dd>
		<dd class="signedIntent"><a href="?c=ProjectProviderMyPro&a=signedIntent">已签意向书项目</a></dd>
		<dd class="signedFinancing"><a href="?c=ProjectProviderMyPro&a=signedFinancing">已签融资合同项目</a></dd>
	</dl>
	<dl>
		<dt>个人中心</dt>
		<dd class="myInformation"><a href="?c=ProjectProviderMyInfo&a=myInformation">我的资料</a></dd>
		<dd class="securityCenter"><a href="?c=ProjectProviderMyInfo&a=securityCenter">安全中心</a></dd>
	</dl>
</div>