<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>新增项目</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/pp-projectInfoNew@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/pp-projectInfoNew.css.ver';</php>.css">
<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/erqi/header.html';</php>

	<div class="main clrfix">
		<!-- 左侧导航栏 -->
		<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ProjectProvider/ProjectProvider_left.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="step">
				<span ></span>
			</div>
			<!-- 默认显示 屋顶分布式-未建，编辑页需调整 -->
			<form id="infoForm" class="housetop_nonBuild" action="?c=ProjectProviderMyPro&a=projectInfoNew&rtype=1" method="post">
				<input type="hidden" name="project_code" value=""/>
				<input type="hidden" name="optype" value=""/>
				<ul class="detail part1">
					<li class="clrfix">
						<span class="lb">项目类型：</span>
						<div class="item">
							<div class="filter">
								<input type="hidden" value="1" name="project_type" />
								<span data-filter="1" class="active">屋顶分布式</span>
								<span data-filter="2">地面分布式</span>
								<span data-filter="3">大型地面</span>
							</div>
							<div class="filter">
								<input type="hidden" value="1" name="build_state" />
								<span data-filter="1" class="active">未建</span>
								<span data-filter="2">已建</span>
							</div>
						</div>
					</li>
					<li class="clrfix">
						<span class="lb">选择位置：</span>
						<div class="item area">
							<select name="province" class="first">
								<option value="">选择省</option>
							</select>省
							<select name="city">
								<option value="">选择市</option>
							</select>市
							<select name="county">
								<option value="">选择区</option>
							</select>区
						</div>
					</li>
					<li class="clrfix">
						<span class="lb">详细地址：</span>
						<div class="item area">
							<input name="project_address" value="" />
						</div>
					</li>
					<li class="clrfix notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">上传图片：</span>
						<div class="item clrfix">
							<div class="img-ct">
								<input type="file" accept="image/gif,image/jpeg,image/png" name="picture_full" style="visibility: hidden;" data-url="" data-name="" data-id="" />
								<p>屋顶全景图</p>
							</div>
							<div class="img-ct">
								<input type="file" accept="image/gif,image/jpeg,image/png" name="picture_south" style="visibility: hidden;" data-url="" data-name="" data-id="" />
								<p>屋顶正南向照片</p>
							</div>
							<div class="img-ct">
								<input type="file" accept="image/gif,image/jpeg,image/png" name="picture_mul" style="visibility: hidden;" data-url="" data-name="" data-id="" />
								<p class="previewname"></p>
							</div>
							<p class="tip">备注：请上传近期高清照片，从不同角度拍摄。</p>
						</div>
					</li>
					<li class="clrfix notall ground_nonBuild_item ground_build_item">
						<span class="lb">上传图片：</span>
						<div class="item clrfix">
							<div class="img-ct">
								<input type="file" accept="image/gif,image/jpeg,image/png" name="picture_full" style="visibility: hidden;" data-url="" data-name="" data-id="" />
								<p>场地情况全景图</p>
							</div>
							<div class="img-ct">
								<input type="file" accept="image/gif,image/jpeg,image/png" name="picture_field" style="visibility: hidden;" data-url="" data-name="" data-id="" />
								<p>场平照片</p>
							</div>
							<div class="img-ct">
								<input type="file" accept="image/gif,image/jpeg,image/png" name="picture_transformer" style="visibility: hidden;" data-url="" data-name="" data-id="" />
								<p>变电站照片</p>
							</div>
							<div class="img-ct">
								<input type="file" accept="image/gif,image/jpeg,image/png" name="picture_mul" style="visibility: hidden;" data-url="" data-name="" data-id="" />
								<p class="previewname"></p>
							</div>
							<p class="tip">备注：请上传近期高清照片，从不同角度拍摄。</p>
						</div>
					</li>
					<li class="clrfix notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">参考示例图片：</span>
						<div class="item">
							<div class="demo">
								<a target="_blank" href="/EnergyFe/img/demo1.jpg"><img src="/EnergyFe/img/demo1.jpg" style="width:110px;height:72px;" /></a>
								<p>屋顶全景图</p>
							</div>
							<div class="demo">
								<a target="_blank" href="/EnergyFe/img/demo2.jpg"><img src="/EnergyFe/img/demo2.jpg" src="" style="width:100px;height:72px;" /></a>
								<p>屋顶正南向照片</p>
							</div>
							<div class="demo">
								<a target="_blank" href="/EnergyFe/img/demo3.jpg"><img src="/EnergyFe/img/demo3.jpg" src="" style="width:139px;height:72px;" /></a>
								<p>彩钢瓦具体结构</p>
							</div>
						</div>
					</li>
					<li class="clrfix notall ground_nonBuild_item ground_build_item">
						<span class="lb">参考示例图片：</span>
						<div class="item">
							<div class="demo">
								<a target="_blank" href="/EnergyFe/img/demo4.jpg"><img src="/EnergyFe/img/demo4.jpg" style="width:110px;height:72px;" /></a>
								<p>场地情况全景图</p>
							</div>
							<div class="demo">
								<a target="_blank" href="/EnergyFe/img/demo5.jpg"><img src="/EnergyFe/img/demo5.jpg" src="" style="width:100px;height:72px;" /></a>
								<p>场平照片</p>
							</div>
							<div class="demo">
								<a target="_blank" href="/EnergyFe/img/demo6.jpg"><img src="/EnergyFe/img/demo6.jpg" src="" style="width:139px;height:72px;" /></a>
								<p>变电站照片</p>
							</div>
						</div>
					</li>
				</ul>
				<p class="title notall housetop_nonBuild_item housetop_build_item">屋顶业主信息</p>
				<ul class="detail part2 notall housetop_nonBuild_item housetop_build_item">
					<li>
						<span class="lb">屋顶业主名称</span>
						<input name="housetop_owner" value="张三"><span class="gray">公司</span>
					</li>
					<li>
						<span class="lb">企业类型</span>
						<select name="company_type">
							<option value="1">国企（上市公司）</option>
							<option value="2" selected>外企（上市公司）</option>
							<option value="3">私企（上市公司）</option>
							<option value="4">国企（非上市公司）</option>
							<option value="5">外企（非上市公司）</option>
							<option value="6">私企（非上市公司）</option>
						</select>
					</li>
					<li>
						<span class="lb">注册资本金</span>
						<input name="company_capital" value="200"><span class="gray">万</span>
					</li>
					<li>
						<span class="lb">屋顶产权证明</span>
						<select data-with-file="true">
							<option value="1" selected>有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="housetop_property_prove" style="visibility: hidden;" data-url="" data-name="" data-id="" />
					</li>
					<li>
						<span class="lb">年用电量</span>
						<input name="electricity_total" value="15.6"><span class="gray">万度</span>
					</li>
					<li>
						<span class="lb">电费</span>
						<input name="electricity_pay" value="66.3"><span class="gray">万元</span>
					</li>
					<li>
						<span class="gray">电费单(最近一年)(备注：请上传近12个月，每月电费明细)</span>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="electricity_pay_list" style="visibility: hidden;" />
					</li>
				</ul>
				<p class="title notall housetop_nonBuild_item housetop_build_item">屋顶情况</p>
				<ul class="detail part2 notall housetop_nonBuild_item housetop_build_item">
					<li>
						<span class="lb">屋顶类型</span>
						<select name="housetop_type" data-with-other="true">
							<option value="1">混凝土</option>
							<option value="2">彩钢瓦</option>
							<option value="0">其他（可填写）</option>
						</select>
						<input class="other" name="housetop_type_other" style="display: none;" value="">
					</li>
					<li>
						<span class="lb">屋顶面积</span>
						<input name="housetop_area" value="666"><span class="gray">m<sup>2</sup></span>
					</li>
					<li class="notall housetop_build_item">
						<span class="lb">屋顶防水周期</span>
						<input name="housetop_waterproof_time" value="70"><span class="gray"年</span>
					</li>
					<li>
						<span class="lb">屋顶使用寿命</span>
						<input name="housetop_age" value="70"><span class="gray">年</span>
					</li>
					<li>
						<span class="lb">屋顶朝向</span>
						<select name="housetop_direction" data-with-other="true">
							<option value="1">正南</option>
							<option value="2">东西向</option>
							<option value="0">其他（可填写）</option>
						</select>
						<input class="other" name="housetop_direction_other" style="display: none;" value="">
					</li>
					<li class="notall housetop_build_item">
						<span class="lb">屋顶活载荷</span>
						<input name="housetop_load" value="666"><span class="gray">kN/m<sup>2</sup></span>
					</li>
					<li class="notall housetop_build_item">
						<span class="lb">附近有无遮挡</span>
						<select name="has_shelter">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
					</li>
					<li class="notall housetop_build_item">
						<span class="lb">有无污染源</span>
						<select name="has_pollution">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
					</li>
				</ul>
				<p class="title notall ground_nonBuild_item ground_build_item">土地情况</p>
				<ul class="detail part2 notall ground_nonBuild_item ground_build_item">
					<li>
						<span class="lb">土地性质</span>
						<select name="ground_property" data-with-other="true">
							<option value="1">一般农田</option>
							<option value="2">林地</option>
							<option value="2">荒地</option>
							<option value="2">鱼塘</option>
							<option value="2">基本农田</option>
							<option value="0">其他</option>
						</select>
						<input class="other" name="ground_property_other" style="display: none;" value="">
					</li>
					<li>
						<span class="lb">租赁土地面积</span>
						<input name="ground_area" value="2"><span class="gray">m<sup>2</sup></span>
					</li>
					<li>
						<span class="lb">租赁年限</span>
						<input name="rent_time" value="2"><span class="gray">年</span>
					</li>
					<li>
						<span class="lb">租赁租金</span>
						<input name="rent_pay" value="2"><span class="gray">元/年</span>
					</li>
					<li class="notall ground_build_item">
						<span class="lb">中控室建筑面积</span>
						<input name="control_room_area" value="2"><span class="gray">m<sup>2</sup></span>
					</li>
					<li class="notall ground_build_item">
						<span class="lb">出让金额</span>
						<input name="sell_sum" value="2"><span class="gray">元</span>
					</li>
					<li>
						<span class="lb">土地平整情况</span>
						<select name="ground_condition">
							<option value="1" selected>平地</option>
							<option value="2">山坡</option>
							<option value="3">水面</option>
						</select>
					</li>
					<li class="notall ground_build_item">
						<span class="lb">附近有无遮挡</span>
						<select name="has_shelter">
							<option value="1" selected>有</option>
							<option value="2">无</option>
						</select>
					</li>
					<li class="notall ground_build_item">
						<span class="lb">有无污染源</span>
						<select name="has_pollute">
							<option value="1" selected>有</option>
							<option value="2">无</option>
						</select>
					</li>
				</ul>
				<p class="title">电网接入</p>
				<ul class="detail part2">
					<li>
						<span class="lb">上级变压器容量</span>
						<input name="transformer_capacity" value="100"><span class="gray">kVA</span>
					</li>
					<li>
						<span class="lb">并网电压等级</span>
						<input name="voltage_level" value="2"><span class="gray">kV</span>
					</li>
					<li class="notall housetop_build_item ground_nonBuild_item ground_build_item">
						<span class="lb">电网接入点距离</span>
						<input name="electricity_distance" value="200"><span class="gray">m</span>
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">并网方式</span>
						<select name="synchronize_type">
							<option value="1">自发自用</option>
							<option value="2" selected>全额上网</option>
							<option value="3">自发自用,全额上网</option>
						</select>
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb">计量点</span>
						<select name="measure_point">
							<option value="1" selected>站内</option>
							<option value="2">变电站</option>
						</select>
					</li>
				</ul>
				<p class="title">项目情况</p>
				<ul class="detail part2">
					<li class="notall housetop_nonBuild_item ground_nonBuild_item">
						<span class="lb">拟建设容量</span>
						<input name="plan_build_volume" value="100"><span class="gray">kW</span>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">建设容量</span>
						<input name="plan_build_volume" value="100"><span class="gray">kW</span>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">单位投资</span>
						<input name="company_invest" value="100"><span class="gray">元/W</span>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">EPC厂家</span>
						<input name="company_EPC" value="100">
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">资质等级</span>
						<input name="capacity_level" value="100">
					</li>
					<!-- <li class="notall housetop_build_item ground_build_item">
						<span class="lb">组件：</span>
						<input name="company_EPC" value="100">
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">逆变器：</span>
						<input name="capacity_level" value="100">
					</li> -->
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">并网时间</span>
						<input name="synchronize_date" data-type="date" value="2015-12-19">
					</li>
					<!-- <li class="notall housetop_build_item ground_build_item">
						<span class="lb">历史发电量数据（最近一年）</span>
						<input name="electricity_data" value="100"><span class="gray">万度</span>
					</li> -->
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb">项目支架类型</span>
						<select name="project_holder_type">
							<option value="1" selected>地面固定式</option>
							<option value="2">单轴</option>
							<option value="3">双轴</option>
						</select>
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb">项目类型</span>
						<select name="ground_project_type">
							<option value="1" selected>地面</option>
							<option value="2">农光互补</option>
							<option value="3">鱼光互补</option>
						</select>
					</li>
					<li class="notall housetop_nonBuild_item ground_nonBuild_item">
						<span class="lb">与能融网合作方式（可多选）</span>
						<span class="citem"><input type="checkbox" name="cooperation_type" value="1"><span class="gray">EPC</span></span>
						<span class="citem"><input type="checkbox" name="cooperation_type" value="2"><span class="gray">申请融资</span></span>
						<span class="citem"><input type="checkbox" name="cooperation_type" value="3"><span class="gray">推介项目</span></span>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">与能融网合作方式（可多选）</span>
						<span class="citem"><input type="checkbox" name="cooperation_type" value="2"><span class="gray">申请融资</span></span>
						<span class="citem"><input type="checkbox" name="cooperation_type" value="4"><span class="gray">转让</span></span>
					</li>
					<li>
						<span class="lb">拟融资金额</span>
						<input name="plan_financing" value="100"><span class="gray">万元</span>
					</li>
					<li class="notall housetop_nonBuild_item ground_nonBuild_item">
						<span class="lb">融资方式</span>
						<select name="financing_type">
							<option value="1">融资租赁（直租）</option>
							<option value="2" selected>融资租赁（回租）</option>
							<option value="3">股权融资</option>
						</select>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">融资方式</span>
						<select name="financing_type">
							<option value="2" selected>融资租赁（回租）</option>
							<option value="3">股权融资</option>
						</select>
					</li>
				</ul>
				<p class="title">项目文件</p>
				<ul class="detail part2">
					<li>
						<span class="lb">项目备案</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="project_backup" style="visibility: hidden;" />
					</li>
					<li>
						<span class="lb">电网接入备案</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="electricity_backup" style="visibility: hidden;" />
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">屋顶租赁协议</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="house_rent_agreement" style="visibility: hidden;" />
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb">土地租赁协议</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="ground_rent_agreement" style="visibility: hidden;" />
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">租赁年限</span>
						<input name="rent_time" value="10"><span class="gray">年</span>
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">租赁租金</span>
						<input name="rent_pay" value="20000"><span class="gray">元/年</span>
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">合同能源管理协议</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="power_manage_agreement" style="visibility: hidden;" />
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">电价结算方式</span>
						<select name="electricity_clear_type">
							<option value="1">峰谷平电价打折</option>
							<option value="2">平均电价打折</option>
							<option value="3">固定电价</option>
						</select>
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">结算电价</span>
						<input name="electricity_clear" value="100">
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb">土地预审意见</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="ground_opinion" style="visibility: hidden;" />
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">项目建议书</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="project_proposal" style="visibility: hidden;" />
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb">项目可研报告</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="project_report" style="visibility: hidden;" />
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">屋顶载荷证明</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="housetop_load_prove" style="visibility: hidden;" />
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb">环评</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="environment_assessment" style="visibility: hidden;" />
					</li>
					<li class="notall ground_build_item">
						<span class="lb">土地证</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="land_certificate" style="visibility: hidden;" />
					</li>
					<li class="notall ground_build_item">
						<span class="lb">物价局电价批复</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="electricity_price_reply" style="visibility: hidden;" />
					</li>
					<li class="notall ground_build_item">
						<span class="lb">是否进入当年省光伏项目目录</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="is_old_project" style="visibility: hidden;" />
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">竣工验收报告</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="completion_report" style="visibility: hidden;" />
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">竣工图纸</span>
						<select data-with-file="true">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="completion_paper" style="visibility: hidden;" />
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">历史发电量数据/辐照数据</span>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="history_data" style="visibility: hidden;" />
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">电费结算票据</span>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="electricity_bill" style="visibility: hidden;" />
					</li>
				</ul>
				<div class="operator">
					<input data-optype="save" type="submit" value="保存">
					<input data-optype="submit" type="submit" value="提交">
					<input data-optype="delete" type="submit" value="删除" class="last">
				</div>
			</form>
		</div>
	</div>

	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	
	<script src="/EnergyFe/prd/scripts/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/x-common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/pp-projectInfoNew@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/pp-projectInfoNew.js.ver';</php>.js"></script>
</body>
</html>
