<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>新增项目</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/pp-projectInfoNew@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/pp-projectInfoNew.css.ver';</php>.css">
<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/erqi/header.html';</php>

	<div class="main clrfix">
		<!-- 左侧导航栏 -->
		<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ProjectProvider/ProjectProvider_left.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="step">
				<span ></span>
			</div>
			<form id="infoForm">
				<ul class="detail part1">
					<li class="clrfix">
						<span class="lb">项目类型：</span>
						<div class="item">
							<div class="filter">
								<input type="hidden" value="" name="project_type" />
								<span data-filter="1" class="active">屋顶分布式</span>
								<span data-filter="2">地面分布式</span>
								<span data-filter="3">大型地面</span>
							</div>
							<div class="filter">
								<input type="hidden" value="" name="build_state" />
								<span data-filter="1" class="active">未建</span>
								<span data-filter="2">已建</span>
							</div>
						</div>
					</li>
					<li class="clrfix">
						<span class="lb">选择位置：</span>
						<div class="item area">
							<select name="province" class="first">
								<option value="">选择省</option>
							</select>省
							<select name="city">
								<option value="">选择市</option>
							</select>市
							<select name="county">
								<option value="">选择区</option>
							</select>区
						</div>
					</li>
					<li class="clrfix">
						<span class="lb">详细地址：</span>
						<div class="item area">
							<input name="" value="" />
						</div>
					</li>
					<li class="clrfix">
						<span class="lb">上传图片：</span>
						<div class="item clrfix">
							<div class="img-ct">
								<input type="file" accept="image/gif,image/jpeg,image/png" name="picture1" style="visibility: hidden;" />
								<p>屋顶全景图</p>
							</div>
							<div class="img-ct">
								<input type="file" accept="image/gif,image/jpeg,image/png" name="picture2" style="visibility: hidden;" />
								<p>屋顶正南向照片</p>
							</div>
							<div class="img-ct">
								<input type="file" accept="image/gif,image/jpeg,image/png" name="picture3" style="visibility: hidden;" />
								<p class="previewname"></p>
							</div>
							<p class="tip">备注：请上传近期高清照片，从不同角度拍摄。</p>
						</div>
					</li>
					<li class="clrfix">
						<span class="lb">参考示例图片：</span>
						<div class="item">
							<div class="demo">
								<img src="/EnergyFe/img/demo1.jpg" style="width:110px;height:72px;" />
								<p>场地情况全景图</p>
							</div>
							<div class="demo">
								<img src="/EnergyFe/img/demo2.jpg" src="" style="width:100px;height:72px;" />
								<p>场平照片</p>
							</div>
							<div class="demo">
								<img src="/EnergyFe/img/demo3.jpg" src="" style="width:139px;height:72px;" />
								<p>变电站照片</p>
							</div>
						</div>
					</li>
				</ul>
				<p class="title">屋顶业主信息</p>
				<ul class="detail part2">
					<li>
						<span class="lb">屋顶业主名称</span>
						<input name="housetop_owner" value="张三">
					</li>
					<li>
						<span class="lb">业主企业类型</span>
						<select name="company_type">
							<option value="1">国企</option>
							<option value="2" selected>外企</option>
							<option value="3">私企</option>
						</select>
					</li>
					<li>
						<span class="lb">业主企业注册资本</span>
						<input name="company_capital" value="200"><span class="gray">万</span>
					</li>
					<li>
						<span class="lb">屋顶产权证明</span>
						<select name="housetop_property_prove_select">
							<option value="1" selected>有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="housetop_property_prove" style="visibility: hidden;" />
					</li>
					<li>
						<span class="lb">年用电量</span>
						<input name="electricity_total" value="15.6"><span class="gray">万度</span>
					</li>
					<li>
						<span class="lb">电费</span>
						<input name="electricity_pay" value="66.3"><span class="gray">万元</span>
					</li>
					<li>
						<span class="gray">最近一年电费明细(备注：请上传近12个月，每月电费明细)</span>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="electricity_pay_list" style="visibility: hidden;" />
					</li>
				</ul>
				<p class="title">屋顶情况</p>
				<ul class="detail part2">
					<li>
						<span class="lb">屋顶类型</span>
						<select name="housetop_type">
							<option value="1">混凝土</option>
							<option value="2">混凝土</option>
						</select>
						<input class="more-info" name="" value="">
					</li>
					<li>
						<span class="lb">屋顶面积</span>
						<input name="housetop_area" value="666"><span class="gray">m<sup>2</sup></span>
					</li>
					<li>
						<span class="lb">屋顶使用寿命</span>
						<input name="housetop_age" value="70"><span class="gray">年</span>
					</li>
					<li>
						<span class="lb">屋顶朝向</span>
						<select name="housetop_direction">
							<option value="1">正南</option>
							<option value="2">正北</option>
						</select>
						<input class="more-info" name="" value="">
					</li>
				</ul>
				<p class="title">电网接入</p>
				<ul class="detail part2">
					<li>
						<span class="lb">上级变压器容量</span>
						<input name="transformer_capacity" value="100"><span class="gray">kVA</span>
					</li>
					<li>
						<span class="lb">并网电压等级</span>
						<input name="voltage_level" value="2"><span class="gray">kV</span>
					</li>
					<li>
						<span class="lb">并网方式</span>
						<select name="synchronize_type">
							<option value="1">自发自用</option>
							<option value="2" selected>全额上网</option>
							<option value="3">自发自用全额上网</option>
						</select>
					</li>
				</ul>
				<p class="title">项目情况</p>
				<ul class="detail part2">
					<li>
						<span class="lb">拟建设容量</span>
						<input name="plan_build_volume" value="100"><span class="gray">kW</span>
					</li>
					<li>
						<span class="lb">与能融网合作方式（可多选）</span>
						<span class="citem"><input type="checkbox" name="cooperation_type" value="1"><span class="gray">EPC</span></span>
						<span class="citem"><input type="checkbox" name="cooperation_type" value="2"><span class="gray">申请融资</span></span>
						<span class="citem"><input type="checkbox" name="cooperation_type" value="3"><span class="gray">推介项目</span></span>
					</li>
					<li>
						<span class="lb">拟融资金额</span>
						<input name="plan_financing" value="100"><span class="gray">万元</span>
					</li>
					<li>
						<span class="lb">融资方式</span>
						<select name="financing_type">
							<option value="1">融资租赁（直租）</option>
							<option value="2">融资租赁（回租）</option>
							<option value="3">股权融资</option>
						</select>
					</li>
				</ul>
				<p class="title">项目文件</p>
				<ul class="detail part2">
					<li>
						<span class="lb">项目备案</span>
						<select name="project_backup_select">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="project_backup" style="visibility: hidden;" />
					</li>
					<li>
						<span class="lb">电网接入备案</span>
						<select name="electricity_backup_select">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="electricity_backup" style="visibility: hidden;" />
					</li>
					<li>
						<span class="lb">屋顶租赁协议</span>
						<select name="house_rent_agreement_select">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="house_rent_agreement" style="visibility: hidden;" />
					</li>
					<li>
						<span class="lb">租赁年限</span>
						<input name="rent_time" value="10">
					</li>
					<li>
						<span class="lb">租赁租金</span>
						<input name="rent_pay" value="20000"><span class="gray">元/年</span>
					</li>
					<li>
						<span class="lb">合同能源管理协议</span>
						<select name="power_manage_agreement_select">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="power_manage_agreement" style="visibility: hidden;" />
					</li>
					<li>
						<span class="lb">电价结算方式</span>
						<select name="electricity_clear_type">
							<option value="1">峰谷平电价打折</option>
							<option value="2">平均电价打折</option>
							<option value="3">固定电价</option>
						</select>
					</li>
					<li>
						<span class="lb">结算电价</span>
						<input name="electricity_clear" value="100">
					</li>
					<li>
						<span class="lb">项目建议书</span>
						<select name="project_proposal_select">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="project_proposal" style="visibility: hidden;" />
					</li>
					<li>
						<span class="lb">屋顶载荷证明</span>
						<select name="housetop_load_prove_select">
							<option value="1">有</option>
							<option value="2">无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="housetop_load_prove" style="visibility: hidden;" />
					</li>
				</ul>
				<div class="operator">
					<input class="save" type="submit" value="保存">
					<input class="submit" type="submit" value="提交">
				</div>
			</form>
		</div>
	</div>

	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	
	<script src="/EnergyFe/prd/scripts/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/x-common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/pp-projectInfoNew@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/pp-projectInfoNew.js.ver';</php>.js"></script>
</body>
</html>
