<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>项目信息-填写</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/pp-projectInfoNew@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/pp-projectInfoNew.css.ver';</php>.css">
<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/erqi/header.html';</php>

	<div class="main clrfix">
		<!-- 左侧导航栏 -->
		<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ProjectProvider/ProjectProvider_left.html';</php>
		
		<!-- 右侧布局 -->
		<div class="r-content">
			<div class="step clrfix step1">
				<span class="s4"><i>4</i>签署正式融资合同</span>
				<span class="s3"><i>3</i>签署意向书</span>
				<span class="s2"><i>2</i>尽职调查</span>
				<span class="s1"><i>1</i>项目信息填写</span>
			</div>
			<!-- 默认显示 屋顶分布式-未建，编辑页需调整 {$data['xxx']}-->
			<form id="infoForm" 
               <if condition="($data['project_type']  eq 1) AND ($data['build_state'] eq 1)">class="housetop_nonBuild"
               <elseif condition="($data['project_type']  eq 1) AND ($data['build_state'] eq 2)"/>class="housetop_build"
               <elseif condition="($data['project_type']  gt 1) AND ($data['build_state'] eq 1)"/>class="ground_nonBuild"
               <elseif condition="($data['project_type']  gt 1) AND ($data['build_state'] eq 2)"/>class="ground_build"
               <else />class="housetop_nonBuild"
               </if> method="post" action="?c=ProjectProviderMyPro&a=projectInfoEdit&no={$data['project_code']}&token={$data['project_idm']}">
				<input type="hidden" name="optype" value="{$data['optype']}"/>
				<ul class="detail part1">
					<li class="clrfix">
						<span class="lb not-empty">项目类型</span>
						<div class="item">
							<div class="filter">
								<input type="hidden" value="{$data['project_type']?$data['project_type']:1}" name="project_type" />
								<span data-filter="1" {$data['project_type'] == 1?'class="active"':''} {$data['project_type']?'':'class="active"'}>屋顶分布式</span>
								<span data-filter="2" {$data['project_type'] == 2?'class="active"':''}>地面分布式</span>
								<span data-filter="3" {$data['project_type'] == 3?'class="active"':''}>大型地面</span>
							</div>
							<div class="filter">
								<input type="hidden" value="{$data['build_state']?$data['build_state']:1}" name="build_state" />
								<span data-filter="1" {$data['build_state'] == 1?'class="active"':''} {$data['build_state']?'':'class="active"'}>未建</span>
								<span data-filter="2" {$data['build_state'] == 2?'class="active"':''}>已建</span>
							</div>
						</div>
					</li>
					<li class="clrfix">
						<span class="lb not-empty">选择位置</span>
						<div class="item area">
							<select name="province" class="first" data-code="{$data['province']}">
								<option value="">选择省</option>
							</select>省
							<select name="city" data-code="{$data['city']}">
								<option value="">选择市</option>
							</select>市
							<select name="county" data-code="{$data['county']}">
								<option value="">选择区</option>
							</select>区
						</div>
					</li>
					<li class="clrfix">
						<span class="lb not-empty">详细地址</span>
						<div class="item area">
							<input name="project_address" value="{$data['project_address']}" />
						</div>
					</li>
					<li class="clrfix notall housetop_nonBuild_item housetop_build_item">
						<span class="lb not-empty">上传图片</span>
						<div class="item clrfix">
							<div class="img-ct">
								<input type="file" accept="image/*" name="picture_full" style="visibility: hidden;" data-url="{$data['picture_full']['url']}" data-name="{$data['picture_full']['name']}" data-id="{$data['picture_full']['id']}" />
								<p>屋顶全景图</p>
							</div>
							<div class="img-ct">
								<input type="file" accept="image/*" name="picture_south" style="visibility: hidden;" data-url="{$data['picture_south']['url']}" data-name="{$data['picture_south']['name']}" data-id="{$data['picture_south']['id']}" />
								<p>屋顶正南向照片</p>
							</div>
							<foreach name="data.picture_mul" item="vo" key="k">
							<div class="img-ct">
								<input type="file" data-type="mul" accept="image/*" name="picture_mul[]" style="visibility: hidden;" data-url="{$vo['url']}" data-name="{$vo['name']}" data-id="{$vo['id']}" />
								<p class="previewname" title="{$vo['name']}">{$vo['name']}</p>
							</div>
							</foreach>
							<p class="tip">备注：请上传近期高清照片，从不同角度拍摄。</p>
						</div>
					</li>
					<li class="clrfix notall ground_nonBuild_item ground_build_item">
						<span class="lb not-empty">上传图片</span>
						<div class="item clrfix">
							<div class="img-ct">
								<input type="file" accept="image/*" name="picture_full" style="visibility: hidden;" data-url="{$data['picture_full']['url']}" data-name="{$data['picture_full']['name']}" data-id="{$data['picture_full']['id']}" />
								<p>场地情况全景图</p>
							</div>
							<div class="img-ct">
								<input type="file" accept="image/*" name="picture_field" style="visibility: hidden;" data-url="{$data['picture_field']['url']}" data-name="{$data['picture_field']['name']}" data-id="{$data['picture_field']['id']}" />
								<p>场平照片</p>
							</div>
							<div class="img-ct">
								<input type="file" accept="image/*" name="picture_transformer" style="visibility: hidden;" data-url="{$data['picture_transformer']['url']}" data-name="{$data['picture_transformer']['name']}" data-id="{$data['picture_transformer']['id']}" />
								<p>变电站照片</p>
							</div>
							<foreach name="data.picture_mul" item="vo" key="k" >
							<div class="img-ct">
								<input type="file" data-type="mul" accept="image/*" name="picture_mul[]" style="visibility: hidden;" data-url="{$vo['url']}" data-name="{$vo['name']}" data-id="{$vo['id']}" />
								<p class="previewname" title="{$vo['name']}">{$vo['name']}</p>
							</div>
							</foreach>
							<p class="tip">备注：请上传近期高清照片，从不同角度拍摄。</p>
						</div>
					</li>
					<li class="clrfix notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">参考示例图片：</span>
						<div class="item">
							<div class="demo">
								<a target="_blank" href="/EnergyFe/img/demo1.jpg"><img src="/EnergyFe/img/demo1.jpg" style="width:110px;height:72px;" /></a>
								<p>屋顶全景图</p>
							</div>
							<div class="demo">
								<a target="_blank" href="/EnergyFe/img/demo2.jpg"><img src="/EnergyFe/img/demo2.jpg" src="" style="width:100px;height:72px;" /></a>
								<p>屋顶正南向照片</p>
							</div>
							<div class="demo">
								<a target="_blank" href="/EnergyFe/img/demo3.jpg"><img src="/EnergyFe/img/demo3.jpg" src="" style="width:139px;height:72px;" /></a>
								<p>彩钢瓦具体结构</p>
							</div>
						</div>
					</li>
					<li class="clrfix notall ground_nonBuild_item ground_build_item">
						<span class="lb">参考示例图片：</span>
						<div class="item">
							<div class="demo">
								<a target="_blank" href="/EnergyFe/img/demo4.jpg"><img src="/EnergyFe/img/demo4.jpg" style="width:110px;height:72px;" /></a>
								<p>场地情况全景图</p>
							</div>
							<div class="demo">
								<a target="_blank" href="/EnergyFe/img/demo5.jpg"><img src="/EnergyFe/img/demo5.jpg" src="" style="width:100px;height:72px;" /></a>
								<p>场平照片</p>
							</div>
							<div class="demo">
								<a target="_blank" href="/EnergyFe/img/demo6.jpg"><img src="/EnergyFe/img/demo6.jpg" src="" style="width:139px;height:72px;" /></a>
								<p>变电站照片</p>
							</div>
						</div>
					</li>
				</ul>
				<p class="title notall housetop_nonBuild_item housetop_build_item">屋顶业主信息</p>
				<ul class="detail part2 notall housetop_nonBuild_item housetop_build_item">
					<li>
						<span class="lb not-empty">屋顶业主名称</span>
						<input name="housetop_owner" value="{$data['housetop_owner']}"><span class="gray">公司</span>
					</li>
					<li>
						<span class="lb not-empty">企业类型</span>
						<select name="company_type">
							<option value="1" {$data['company_type'] == 1?'selected':''}>国企（上市公司）</option>
							<option value="2" {$data['company_type'] == 2?'selected':''}>外企（上市公司）</option>
							<option value="3" {$data['company_type'] == 3?'selected':''}>私企（上市公司）</option>
							<option value="4" {$data['company_type'] == 4?'selected':''}>国企（非上市公司）</option>
							<option value="5" {$data['company_type'] == 5?'selected':''}>外企（非上市公司）</option>
							<option value="6" {$data['company_type'] == 6?'selected':''}>私企（非上市公司）</option>
						</select>
					</li>
					<li>
						<span class="lb not-empty">注册资本金</span>
						<input name="company_capital" value="{$data['company_capital']}"><span class="gray">万</span>
					</li>
					<li>
						<span class="lb not-empty">屋顶产权证明</span>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="housetop_property_prove" style="visibility: hidden;" data-url="{$data['housetop_property_prove']['url']}" data-name="{$data['housetop_property_prove']['name']}" data-id="{$data['housetop_property_prove']['id']}" />
					</li>
					<li>
						<span class="lb not-empty">年用电量</span>
						<input name="electricity_total" value="{$data['electricity_total']}"><span class="gray">万度</span>
					</li>
					<li>
						<span class="lb not-empty">电费</span>
						<input name="electricity_pay" value="{$data['electricity_pay']}"><span class="gray">万元</span>
					</li>
					<li>
						<span class="gray not-empty">电费单(最近一年)(备注：请上传近12个月，每月电费明细)</span>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="electricity_pay_list" style="visibility: hidden;" />
					</li>
				</ul>
				<p class="title notall housetop_nonBuild_item housetop_build_item">屋顶情况</p>
				<ul class="detail part2 notall housetop_nonBuild_item housetop_build_item">
					<li>
						<span class="lb not-empty">屋顶类型</span>
						<select name="housetop_type" data-with-other="true">
							<option value="1" {$data['housetop_type'] == 1?'selected':''}  >混凝土</option>
							<option value="2" {$data['housetop_type'] == 2?'selected':''}  >彩钢瓦</option>
							<option value="0" {$data['housetop_type'] === "0"?'selected':''}  >其他（可填写）</option>
						</select>
						<input class="other" name="housetop_type_other" style="display: none;" value="{$data['housetop_type_other']}">
					</li>
					<li>
						<span class="lb not-empty">屋顶面积</span>
						<input name="housetop_area" value="{$data['housetop_area']}"><span class="gray">m<sup>2</sup></span>
					</li>
					<li class="notall housetop_build_item">
						<span class="lb not-empty">屋顶防水周期</span>
						<input name="housetop_waterproof_time" value="{$data['housetop_waterproof_time']}"><span class="gray"年</span>
					</li>
					<li>
						<span class="lb not-empty">屋顶使用寿命</span>
						<input name="housetop_age" value="{$data['housetop_age']}"><span class="gray">年</span>
					</li>
					<li>
						<span class="lb not-empty">屋顶朝向</span>
						<select name="housetop_direction" data-with-other="true">
							<option value="1" {$data['housetop_direction'] === "1"?'selected':''}>正南</option>
							<option value="2" {$data['housetop_direction'] === "2"?'selected':''}>东西向</option>
							<option value="0" {$data['housetop_direction'] === "0"?'selected':''}>其他（可填写）</option>
						</select>
						<input class="other" name="housetop_direction_other" style="display: none;" value="{$data['housetop_direction_other']}">
					</li>
					<li class="notall housetop_build_item">
						<span class="lb not-empty">屋顶活载荷</span>
						<input name="housetop_load" value="{$data['housetop_load']}"><span class="gray">kN/m<sup>2</sup></span>
					</li>
					<li class="notall housetop_build_item">
						<span class="lb not-empty">附近有无遮挡</span>
						<select name="has_shelter">
							<option value="1" {$data['has_shelter'] == 1?'selected':''} >有</option>
							<option value="2" {$data['has_shelter'] == 2?'selected':''} >无</option>
						</select>
					</li>
					<li class="notall housetop_build_item">
						<span class="lb not-empty">有无污染源</span>
						<select name="has_pollution">
							<option value="1" {$data['has_pollution'] == 1?'selected':''}>有</option>
							<option value="2" {$data['has_pollution'] == 2?'selected':''}>无</option>
						</select>
					</li>
				</ul>
				<p class="title notall ground_nonBuild_item ground_build_item">土地情况</p>
				<ul class="detail part2 notall ground_nonBuild_item ground_build_item">
					<li>
						<span class="lb not-empty">土地性质</span>
						<select name="ground_property" data-with-other="true">
							<option value="1" {$data['ground_property'] == 1?'selected':''}>一般农田</option>
							<option value="2" {$data['ground_property'] == 2?'selected':''}>林地</option>
							<option value="3" {$data['ground_property'] == 3?'selected':''}>荒地</option>
							<option value="4" {$data['ground_property'] == 4?'selected':''}>鱼塘</option>
							<option value="5" {$data['ground_property'] == 5?'selected':''}>基本农田</option>
							<option value="0" {$data['ground_property'] === "0"?'selected':''}>其他</option>
						</select>
						<input class="other" name="ground_property_other" style="display: none;" value="{$data['ground_property_other']}">
					</li>
					<li>
						<span class="lb not-empty">租赁土地面积</span>
						<input name="ground_area" value="{$data['ground_area']}"><span class="gray">m<sup>2</sup></span>
					</li>
					<li>
						<span class="lb not-empty">租赁年限</span>
						<input name="rent_time" value="{$data['rent_time']}"><span class="gray">年</span>
					</li>
					<li>
						<span class="lb not-empty">租赁租金</span>
						<input name="rent_pay" value="{$data['rent_pay']}"><span class="gray">元/年</span>
					</li>
					<li class="notall ground_build_item">
						<span class="lb not-empty">中控室建筑面积</span>
						<input name="control_room_area" value="{$data['control_room_area']}"><span class="gray">m<sup>2</sup></span>
					</li>
					<li class="notall ground_build_item">
						<span class="lb not-empty">出让金额</span>
						<input name="sell_sum" value="{$data['sell_sum']}"><span class="gray">元</span>
					</li>
					<li>
						<span class="lb not-empty">土地平整情况</span>
						<select name="ground_condition">
							<option value="1" {$data['ground_condition'] == 1?'selected':''}>平地</option>
							<option value="2" {$data['ground_condition'] == 2?'selected':''}>山坡</option>
							<option value="3" {$data['ground_condition'] == 3?'selected':''}>水面</option>
						</select>
					</li>
					<li class="notall ground_build_item">
						<span class="lb not-empty">附近有无遮挡</span>
						<select name="has_shelter">
							<option value="1" {$data['has_shelter'] == 1?'selected':''} >有</option>
							<option value="2" {$data['has_shelter'] == 2?'selected':''} >无</option>
						</select>
					</li>
					<li class="notall ground_build_item">
						<span class="lb not-empty">有无污染源</span>
						<select name="has_pollute">
							<option value="1" {$data['has_pollute'] == 1?'selected':''} >有</option>
							<option value="2" {$data['has_pollute'] == 2?'selected':''}>无</option>
						</select>
					</li>
				</ul>
				<p class="title">电网接入</p>
				<ul class="detail part2">
					<li>
						<span class="lb not-empty">上级变压器容量</span>
						<input name="transformer_capacity" value="{$data['transformer_capacity']}"><span class="gray">kVA</span>
					</li>
					<li>
						<span class="lb not-empty">并网电压等级</span>
						<input name="voltage_level" value="{$data['voltage_level']}"><span class="gray">kV</span>
					</li>
					<li class="notall housetop_build_item ground_nonBuild_item ground_build_item">
						<span class="lb not-empty">电网接入点距离</span>
						<input name="electricity_distance" value="{$data['electricity_distance']}"><span class="gray">m</span>
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb not-empty">并网方式</span>
						<select name="synchronize_type">
							<option value="1" {$data['synchronize_type'] == 1?'selected':''}>自发自用</option>
							<option value="2" {$data['synchronize_type'] == 2?'selected':''}>全额上网</option>
							<option value="3" {$data['synchronize_type'] == 3?'selected':''}>自发自用,全额上网</option>
						</select>
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb not-empty">计量点</span>
						<select name="measure_point">
							<option value="1" {$data['measure_point'] == 1?'selected':''}>站内</option>
							<option value="2" {$data['measure_point'] == 2?'selected':''}>变电站</option>
						</select>
					</li>
				</ul>
				<p class="title">项目情况</p>
				<ul class="detail part2">
					<li class="notall housetop_nonBuild_item ground_nonBuild_item">
						<span class="lb not-empty">拟建设容量</span>
						<input name="plan_build_volume" value="{$data['plan_build_volume']}"><span class="gray">kW</span>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb not-empty">建设容量</span>
						<input name="plan_build_volume" value="{$data['plan_build_volume']}"><span class="gray">kW</span>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb not-empty">单位投资</span>
						<input name="company_invest" value="{$data['company_invest']}"><span class="gray">元/W</span>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb not-empty">EPC厂家</span>
						<input name="company_EPC" value="{$data['company_EPC']}">
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb not-empty">资质等级</span>
						<input name="capacity_level" value="{$data['capacity_level']}">
					</li>
					<!--新增第一次进来什么都没有，就显示一项-->
					<!--编辑页进来的话，有几项就显示几项-->
					<!--component_company的数组-->
					<li class="notall housetop_build_item ground_build_item component">
						<span class="name not-empty">组件</span><a href="javascript:;" class="add">新增</a>
						<foreach name="data.components" item="vo" key="k" >
						    <div class="item"><input type="hidden" name="component_company_hiddenId[]" value="{$vo['id']}" />
							    <a href="javascript:;" class="del">删除</a>
							    <div><span class="c0">组件厂家</span><input class="c0" name="component_company[]" value="{$vo['component_company']}"/></div>
							    <div><span class="c0">规格型号</span><input class="c0" name="component_type[]" value="{$vo['component_type']}"/><span class="c1">数量</span><input class="c1" name="component_count[]" value="{$vo['component_count']}"/>个</div>
						    </div>
						</foreach>
					</li>
					<li class="notall housetop_build_item ground_build_item component inverter">
						<span class="name not-empty">逆变器</span><a href="javascript:;" class="add">新增</a>
						<foreach name="data.inverters" item="vo" key="k" >
						    <div class="item"><input type="hidden" name="inverter_company_hiddenId[]" value="{$vo['id']}" />
							    <a href="javascript:;" class="del">删除</a>
							    <div><span class="c0">逆变器厂家</span><input class="c0" name="inverter_company[]" value="{$vo['inverter_company']}"/></div>
							   <div><span class="c0">规格型号</span><input class="c0" name="inverter_type[]" value="{$vo['inverter_type']}"/><span class="c1">数量</span><input class="c1" name="inverter_count[]" value="{$vo['inverter_count']}"/>个</div>
						    </div>
						</foreach> 
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb not-empty">并网时间</span>
						<input name="synchronize_date" data-type="date" readonly value="{$data['synchronize_date']}">
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">历史发电量数据（最近一年）</span>
						<input name="electricity_data" value="100"><span class="gray">万度</span>
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb not-empty">项目支架类型</span>
						<select name="project_holder_type">
							<option value="1" {$data['project_holder_type'] == 1?'selected':''} >地面固定式</option>
							<option value="2" {$data['project_holder_type'] == 2?'selected':''} >单轴</option>
							<option value="3" {$data['project_holder_type'] == 3?'selected':''} >双轴</option>
						</select>
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb not-empty">项目类型</span>
						<select name="ground_project_type">
							<option value="1" {$data['ground_project_type'] == 1?'selected':''} >地面</option>
							<option value="2" {$data['ground_project_type'] == 2?'selected':''} >农光互补</option>
							<option value="3" {$data['ground_project_type'] == 3?'selected':''} >鱼光互补</option>
						</select>
					</li>
					<li class="notall housetop_nonBuild_item ground_nonBuild_item">
						<span class="lb not-empty">与能融网合作方式（可多选）</span>
						<span class="citem"><input type="checkbox" r-name="cooperation_type" name="cooperation_type[]" value="1" id="cooperation_type_nonBuild1" <?php if(in_array(1, $data['cooperation_type'])) echo "checked";?>><label class="gray" for="cooperation_type_nonBuild1">EPC</label></span>
						<span class="citem"><input type="checkbox" r-name="cooperation_type" name="cooperation_type[]" value="2" id="cooperation_type_nonBuild2" <?php if(in_array(2, $data['cooperation_type'])) echo "checked";?>><label class="gray" for="cooperation_type_nonBuild2">申请融资</label></span>
						<span class="citem"><input type="checkbox" r-name="cooperation_type" name="cooperation_type[]" value="3" id="cooperation_type_nonBuild3" <?php if(in_array(3, $data['cooperation_type'])) echo "checked";?>><label class="gray" for="cooperation_type_nonBuild3">推介项目</label></span>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb not-empty">与能融网合作方式（可多选）</span>
						<span class="citem"><input type="checkbox" r-name="cooperation_type" name="cooperation_type[]" value="2" id="cooperation_type_build1" <?php if(in_array(2, $data['cooperation_type'])) echo "checked";?>><label class="gray" for="cooperation_type_build1">申请融资</label></span>
						<span class="citem"><input type="checkbox" r-name="cooperation_type" name="cooperation_type[]" value="4" id="cooperation_type_build2" <?php if(in_array(4, $data['cooperation_type'])) echo "checked";?>><label class="gray" for="cooperation_type_build2">转让</label></span>
					</li>
					<li>
						<span class="lb not-empty">拟融资金额</span>
						<input name="plan_financing" value="{$data['plan_financing']}"><span class="gray">万元</span>
					</li>
					<li class="notall housetop_nonBuild_item ground_nonBuild_item">
						<span class="lb not-empty">融资方式</span>
						<select name="financing_type">
							<option value="1" {$data['financing_type'] == 1?'selected':''} >融资租赁（直租）</option>
							<option value="2" {$data['financing_type'] == 2?'selected':''} >融资租赁（回租）</option>
							<option value="3" {$data['financing_type'] == 3?'selected':''} >股权融资</option>
						</select>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb not-empty">融资方式</span>
						<select name="financing_type">
							<option value="2" {$data['financing_type'] == 2?'selected':''} >融资租赁（回租）</option>
							<option value="3" {$data['financing_type'] == 3?'selected':''} >股权融资</option>
						</select>
					</li>
				</ul>
				<p class="title">项目文件</p>
				<ul class="detail part2">
					<li>
						<span class="lb">项目备案</span>
						<select data-with-file="true">
							<option value="1" {$data['project_backup']['name']?'selected':''}>有</option>
							<option value="2" {$data['project_backup']['name']?'':$data['project_code']?'selected':''}>无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="project_backup" style="visibility: hidden;"  data-url="{$data['project_backup']['url']}" data-name="{$data['project_backup']['name']}" data-id="{$data['project_backup']['id']}"/>
					</li>
					<li>
						<span class="lb">电网接入备案</span>
						<select data-with-file="true">
							<option value="1" {$data['electricity_backup']['name']?'selected':''}>有</option>
							<option value="2" {$data['electricity_backup']['name']?'':$data['project_code']?'selected':''}>无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="electricity_backup" style="visibility: hidden;" data-url="{$data['electricity_backup']['url']}" data-name="{$data['electricity_backup']['name']}" data-id="{$data['electricity_backup']['id']}" />
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">屋顶租赁协议</span>
						<select data-with-file="true">
							<option value="1" {$data['house_rent_agreement']['name']?'selected':''}>有</option>
							<option value="2" {$data['house_rent_agreement']['name']?'':$data['project_code']?'selected':''}>无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="house_rent_agreement" style="visibility: hidden;" data-url="{$data['house_rent_agreement']['url']}" data-name="{$data['house_rent_agreement']['name']}" data-id="{$data['house_rent_agreement']['id']}"/>
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb">土地租赁协议</span>
						<select data-with-file="true">
							<option value="1" {$data['ground_rent_agreement']['name']?'selected':''}>有</option>
							<option value="2" {$data['ground_rent_agreement']['name']?'':$data['project_code']?'selected':''}>无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="ground_rent_agreement" style="visibility: hidden;" data-url="{$data['ground_rent_agreement']['url']}" data-name="{$data['ground_rent_agreement']['name']}" data-id="{$data['ground_rent_agreement']['id']}" />
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">租赁年限</span>
						<input name="rent_time" value="{$data['rent_time']} "><span class="gray">年</span>
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">租赁租金</span>
						<input name="rent_pay" value="{$data['rent_pay']}"><span class="gray">元/年</span>
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">合同能源管理协议</span>
						<select data-with-file="true">
							<option value="1" {$data['power_manage_agreement']['name']?'selected':''}>有</option>
							<option value="2" {$data['power_manage_agreement']['name']?'':$data['project_code']?'selected':''}>无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="power_manage_agreement" style="visibility: hidden;" data-url="{$data['power_manage_agreement']['url']}" data-name="{$data['power_manage_agreement']['name']}" data-id="{$data['power_manage_agreement']['id']}"/>
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">电价结算方式</span>
						<select name="electricity_clear_type">
							<option value="1" {$data['electricity_clear_type'] == 1?'selected':''} >峰谷平电价打折</option>
							<option value="2" {$data['electricity_clear_type'] == 2?'selected':''} >平均电价打折</option>
							<option value="3" {$data['electricity_clear_type'] == 3?'selected':''} >固定电价</option>
						</select>
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">结算电价</span>
						<input name="electricity_clear" value="{$data['electricity_clear']}">
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb">土地预审意见</span>
						<select data-with-file="true">
							<option value="1" {$data['ground_opinion']['name']?'selected':''}>有</option>
							<option value="2" {$data['ground_opinion']['name']?'':$data['project_code']?'selected':''}>无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="ground_opinion" style="visibility: hidden;" data-url="{$data['ground_opinion']['url']}" data-name="{$data['ground_opinion']['name']}" data-id="{$data['ground_opinion']['id']}"/>
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">项目建议书</span>
						<select data-with-file="true">
							<option value="1" {$data['project_proposal']['name']?'selected':''}>有</option>
							<option value="2" {$data['project_proposal']['name']?'':$data['project_code']?'selected':''}>无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="project_proposal" style="visibility: hidden;" data-url="{$data['project_proposal']['url']}" data-name="{$data['project_proposal']['name']}" data-id="{$data['project_proposal']['id']}"/>
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb">项目可研报告</span>
						<select data-with-file="true">
							<option value="1" {$data['project_report']['name']?'selected':''}>有</option>
							<option value="2" {$data['project_report']['name']?'':$data['project_code']?'selected':''}>无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="project_report" style="visibility: hidden;" data-url="{$data['project_proposal']['url']}" data-name="{$data['project_proposal']['name']}" data-id="{$data['project_proposal']['id']}"/>
					</li>
					<li class="notall housetop_nonBuild_item housetop_build_item">
						<span class="lb">屋顶载荷证明</span>
						<select data-with-file="true">
							<option value="1" {$data['housetop_load_prove']['name']?'selected':''}>有</option>
							<option value="2" {$data['housetop_load_prove']['name']?'':$data['project_code']?'selected':''}>无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="housetop_load_prove" style="visibility: hidden;" data-url="{$data['housetop_load_prove']['url']}" data-name="{$data['housetop_load_prove']['name']}" data-id="{$data['housetop_load_prove']['id']}"/>
					</li>
					<li class="notall ground_nonBuild_item ground_build_item">
						<span class="lb">环评</span>
						<select data-with-file="true">
							<option value="1" {$data['environment_assessment']['name']?'selected':''}>有</option>
							<option value="2" {$data['environment_assessment']['name']?'':$data['project_code']?'selected':''}>无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="environment_assessment" style="visibility: hidden;" data-url="{$data['environment_assessment']['url']}" data-name="{$data['environment_assessment']['name']}" data-id="{$data['environment_assessment']['id']}"/>
					</li>
					<li class="notall ground_build_item">
						<span class="lb">土地证</span>
						<select data-with-file="true">
							<option value="1" {$data['land_certificate']['name']?'selected':''}>有</option>
							<option value="2" {$data['land_certificate']['name']?'':$data['project_code']?'selected':''}>无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="land_certificate" style="visibility: hidden;" data-url="{$data['land_certificate']['url']}" data-name="{$data['land_certificate']['name']}" data-id="{$data['land_certificate']['id']}"/>
					</li>
					<li class="notall ground_build_item">
						<span class="lb">物价局电价批复</span>
						<select data-with-file="true">
							<option value="1" {$data['electricity_price_reply']['name']?'selected':''}>有</option>
							<option value="2" {$data['electricity_price_reply']['name']?'':$data['project_code']?'selected':''}  >无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="electricity_price_reply" style="visibility: hidden;" data-url="{$data['electricity_price_reply']['url']}" data-name="{$data['electricity_price_reply']['name']}" data-id="{$data['electricity_price_reply']['id']}"/>
					</li>
					<li class="notall ground_build_item">
						<span class="lb">是否进入当年省光伏项目目录</span>
						<select data-with-file="true">
							<option value="1" {$data['is_old_project']['name']?'selected':''}>有</option>
							<option value="2" {$data['is_old_project']['name']?'':$data['project_code']?'selected':''}  >无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="is_old_project" style="visibility: hidden;" data-url="{$data['is_old_project']['url']}" data-name="{$data['is_old_project']['name']}" data-id="{$data['is_old_project']['id']}"/>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">竣工验收报告</span>
						<select data-with-file="true">
							<option value="1" {$data['completion_report']['name']?'selected':''}>有</option>
							<option value="2" {$data['completion_report']['name']?'':$data['project_code']?'selected':''}  >无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="completion_report" style="visibility: hidden;" data-url="{$data['completion_report']['url']}" data-name="{$data['completion_report']['name']}" data-id="{$data['completion_report']['id']}"/>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">竣工图纸</span>
						<select data-with-file="true">
							<option value="1" {$data['completion_paper']['name']?'selected':''}>有</option>
							<option value="2" {$data['completion_paper']['name']?'':$data['project_code']?'selected':''}  >无</option>
						</select>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="completion_paper" style="visibility: hidden;" data-url="{$data['completion_paper']['url']}" data-name="{$data['completion_paper']['name']}" data-id="{$data['completion_paper']['id']}"/>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">历史发电量数据/辐照数据</span>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="history_data" style="visibility: hidden;" data-url="{$data['history_data']['url']}" data-name="{$data['history_data']['name']}" data-id="{$data['history_data']['id']}"/>
					</li>
					<li class="notall housetop_build_item ground_build_item">
						<span class="lb">电费结算票据</span>
						<input type="file" accept="application/pdf,application/msword,application/vnd.ms-powerpoint,aplication/zip" name="electricity_bill" style="visibility: hidden;" data-url="{$data['electricity_bill']['url']}" data-name="{$data['electricity_bill']['name']}" data-id="{$data['electricity_bill']['id']}"/>
					</li>
				</ul>
				<div class="operator">
					<input data-optype="save" type="submit" value="保存" />
					<input data-optype="submit" type="submit" value="提交" />
					{$data['project_code']?'<input data-optype="delete" type="submit" value="删除" />':''}
				</div>
			</form>
		</div>
	</div>

	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	
	<script src="/EnergyFe/prd/scripts/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/x-common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/pp-projectInfoNew@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/pp-projectInfoNew.js.ver';</php>.js"></script>
</body>
</html>
