<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>注册成功提示</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/loginsusprompt@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/loginsusprompt.css.ver';</php>.css">
<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/erqi/header.html';</php>

	<div class="main clrfix">
		<!-- 右侧布局 -->
		<div class="md">
			<p class="title">您已注册成功！</p>
			<div class="part1">
				<span>请<a href="">打开邮箱({$data['email']})收取账号激活邮件</a>，</span>
				<p>并点击邮箱中的激活链接，方可使用账号。</p>
			</div>
			<div class="part2">
				<dl>
					<dt>如果您一直收不到激活邮件，请检查：</dt>
					<dl>1.请确认是否填写正确的邮箱地址：XXX@XXX.com</dl>
					<dl>2.请注意查看您邮箱中的垃圾邮件，可能oschaina的邮件被误杀了</dl>
				</dl>
			</div>
			<div class="part3">
				<a href="?c=User&a=login">进入登录界面>></a>
			</div>			
		</div>
		
	</div>

	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	<!-- 子页面footer:关于我们，联系方式 -->
	
	<script src="/EnergyFe/prd/scripts/common@<php>include './nengrong/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
</body>
</html>
