<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>注册成功</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/loginsus@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/loginsus.css.ver';</php>.css">
<body>
	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/header.html';</php>
	<!-- 二期页面header -->
	<div class="header">
		<div class="hd">
			<div class="c">
				欢迎您，<span id="">XX公司</span>
				<span class="split">|</span>
				<a id="logout" href="javascript:;">注销</a>
			</div>
		</div>
		<div class="bd">
			<img src="/View/img/x-logo.png">信息管理系统
		</div>
	</div>

	<div class="main clrfix">
		<!-- 右侧布局 -->
		<div class="md">
			<p class="title">恭喜你！</p>
			<div class="part1">
				<span>账号注册成功!</span>
			</div>
			<div class="part2">				
				<span>系统将在3秒后自动跳转到：</span>
				<a href="?c=ProjectInvestorMyPro&a=investmentProject">http//www.enetf.com/EneryInfo/projectList.php</a>
				<button id="jumpbtn" type="submit";>立刻跳转</button>			
			</div>		
		</div>
		
	</div>

	<php>include '/home/ubuntu/enetfPlatform/nengrong/Home/View/hf/sub_footer.html';</php>
	<!-- 子页面footer:关于我们，联系方式 -->
	<div class="sub-footer">
		<a href="?c=AboutUs&a=company">关于我们</a> ｜ 
		<a id="favorites" href="javascipt:void(0);">收藏我们</a> ｜ 
		<a href="?c=AboutUs&a=contact">联系我们</a> ｜ 
		<a href="?c=AboutUs&a=joinUs">加入我们</a>
		<span href=""> ©2015 北京光辉普惠能源科技有限公司 All rights reserved</span>
	</div>
	
	<script src="/EnergyFe/prd/scripts/common@<php>include './nengrong/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/loginsus@<php>include './nengrong/Home/View/ver/scripts/loginsus.js.ver';</php>.js"></script>
</body>
</html>
