<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<title>ENetF使用协议和隐私条款</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/favicon.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/x-common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/protocol@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/styles/protocol.css.ver';</php>.css">
<body>
	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/erqi/header.html';</php>

	<div class="main clrfix">
		<!-- 右侧布局 -->
		<div class="md">
			<p class="title">能融网ENF使用协议和隐私条款</p>
			<div class="part1">
				<p>请仔细阅读下面的协议，只有接受协议才能继续进行注册。 本协议服务条款(以下简称“服务条款”)是由用户(您)与能融网信息管理平台，就能融网信息管理系统提供的服务所订立的相关权利义务规范，本服务条款对您及能融网信息管理系统均具有法律效力。</p>
				<p>1. 服务内容</p>
				<p>1.1能融网信息管理系统所提供的服务将按照有关章程、服务条款和操作规则严格执行。用户通过注册程序勾选“我已阅读并同意ENetF使用协议和隐私条款”，即表示用户与国家能融网信息管理系统达成协议并接受所有的服务条款。</p>
			</div>
			<div class="part2">
				<p>2. 使用规则</p>
				<p>2.1 用户在能融网信息管理系统注册时，需提供准确的账号（注册邮箱）和密码，如有需变更账号，需联系客服。</p>
				<p>2.2 用户注册成功后，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p>
				<p>2.3 用户在能融网信息管理系统注册后，必须遵循以下原则：</p>
				<p>(a) 遵守中国有关的法律和法规；</p>
				<p>(b) 不得为任何非法目的而使用能融网信息管理系统；</p>
				<p>(c) 遵守所有与网络服务有关的网络协议、规定和程序；</p>
				<p>(d) 不得利用能融网信息管理系统进行任何可能对互联网的正常运转造成不利影响的行为；</p>
				<p>(e) 不得利用能融网信息管理系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
				<p>(f) 不得利用能融网信息管理系统进行任何不利于能融网相关平台的行为；</p>
				<p>(g) 如发现任何非法使用用户帐号或帐号出现安全漏洞的情况，应立即通告能融网信息管理系统。</p>
			</div>
			<div class="part3">
				<p>3. 隐私保护 </p>
				<p>3.1 保护用户隐私是能融网信息管理系统的一项基本政策，能融网信息管理系统保证不对外公开或向第三方提供用户注册资料及用户在使用网络服务时存储在能融网信息管理系统的非公开内容，但下列情况除外：</p>
				<p>(a) 事先获得用户的明确授权；</p>
				<p>(b) 根据有关的法律法规要求；</p>
				<p>(c) 按照相关政府主管部门的要求；</p>
				<p>(d) 为维护社会公众的利益；</p>
				<p>(e) 为维护能融网信息管理系统的合法权益。</p>
			</div>
			<div class="part4">
				<p>4. 免责声明</p>
				<p>4.1 用户明确同意其使用能融网信息管理系统网络服务所存在的风险将完全由其自己承担；因其使用能融网信息管理系统网络服务而产生的一切后果也由其自己承担，能融网信息管理系统对用户不承担任何责任。</p>
				<p>4.2 能融网信息管理系统不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。</p>
			</div>
			<div class="part5">
				<p>5. 解释权</p>
				<p>本注册协议的解释权归能融网信息管理系统所有。如果其中有任何条款与国家的有关法律相抵触，则以国家法律的明文规定为准。 感谢您的配合，祝您使用愉快。</p>
			</div>
			
		</div>
		
	</div>

	<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/hf/sub_footer.html';</php>
	
	<script src="/EnergyFe/prd/scripts/x-common@<php>$baseDir=dirname(dirname(dirname(dirname(__FILE__))));include $baseDir.'/Home/View/ver/scripts/x-common.js.ver';</php>.js"></script>
</body>
</html>
