<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>注册</title>
	
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link rel="icon" type="image/png" href="/EnergyFe/img/i/favicon.png">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/EnergyFe/img/i/app-icon72x72@2x.png">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="apple-touch-icon-precomposed" href="/EnergyFe/img/i/app-icon72x72@2x.png">
	
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/EnergyFe/img/i/app-icon72x72@2x.png">
	<meta name="msapplication-TileColor" content="#0e90d2">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/common@<php>include './nengrong/Home/View/ver/styles/common.css.ver';</php>.css">
	<link rel="stylesheet" href="/EnergyFe/prd/styles/register@<php>include './nengrong/Home/View/ver/styles/register.css.ver';</php>.css">
</head>
<body>
	<div class="content">
		<div class="td">
			<img src="/EnergyFe/img/logo.png">
		</div>
		<div class="bd">
			<div class="md">
				<p id="warning" style="display: none;">你的用户名格式错误，请重新输入</p>
				<p id="warning2" style="display: none;">两次密码不一致，请重新输入</p>
				<p id="warning3" style="display: none;">密码不能为空，请重新输入</p>
				<div class="mail">
					<input type="text" id="mailinput" placeholder="请输入您的邮箱">
				</div>
				<div class="pass">
					<input type="password" id="passinput" placeholder="请输入您的密码">
				</div>
				<div class="repeatpass">
					<input type="password" id="repeatpassinput" placeholder="请再次输入您的密码">
				</div>
				<div class="mark">
					<input type="checkbox" id="markbox">
					<span>我已阅读并同意<a href="">ENetF使用协议和隐私条款</a></span>
				</div>
				<div class="button">
					<button id="registerbtn" type="submit";>注册</button>
				</div>
				<div class="beizhu">
					<a href="login.html">已注册，去登陆</a>
				</div>
			</div>
		</div>
	</div>
	<script src="/EnergyFe/prd/scripts/common@<php>include './nengrong/Home/View/ver/scripts/common.js.ver';</php>.js"></script>
	<script src="/EnergyFe/prd/scripts/register@<php>include './nengrong/Home/View/ver/scripts/register.js.ver';</php>.js"></script>
</body>
</html>